.task {
		margin-top: 10px;
}

.task > div {
	background: #f2f6ff;
	border: 1px solid #b2b3b8;
	border-radius: 3px;
}

.inputSearch {
	padding: 42px 0 4px 0;
}

.task .title {
	background: #FFF;
font-size: 20px;
color: #428BCA;
padding: 5px 5px 0 5px;
border-radius: 3px;
}

.task .description {
	background: white;
	color: #5E5E5E;

	padding: 3px 5px 5px 5px;
}

.task .url {
	padding: 2px 5px 2px 5px;
}

.task:hover a{
	text-decoration: none;
}

.task:hover {
	border-color: #66AFE9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.plusButton {
	position: fixed;
	height: 90px;
	bottom: 0;
	left: 50%;
	width: 650px;
	margin-left: -325px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.plusButton button {
	border-radius: 100%;
	padding: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	bottom: 20px;
	position: absolute;
	left: 50%;
	margin-left: -69px;
	font-size: 20px;

	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.plusButton button:focus {outline:none;}

.addForm {
background: #E8EEF5;
border: 1px solid #B2B3B8;
position: absolute;
top: 300px;
padding: 10px;
border-radius: 4px;
margin-left: -15px;
}