<div class="about container">
    <div class="b-skills" ng-include="'assets/views/blocks/skills.html'"></div>
    <div class="b-about" ng-include="'assets/views/blocks/about.html'"></div>
</div>

<div class="works">
    <div ng-controller="LatestWorkController" ng-include="'assets/views/blocks/latest-projects.html'"></div>
    <div ng-include="'assets/views/blocks/order.html'"></div>
</div>

<div id="footer">
    <div class="container">
        <div class="friend_list">
            <ul>
                <li class="list_header">Friends:</li>
                <li><a href="http://popovskiy.com/">Oleg Popovskiy</a></li>
            </ul>
        </div>
    </div>
</div>