<div class="about container">
    <div class="block_skills" ng-include="'assets/views/blocks/skills.html'"></div>
    <div class="b-about" ng-include="'assets/views/blocks/about.html'"></div>
</div>

<div class="works">
    <div ng-controller="LatestWorkController" ng-include="'assets/views/blocks/latest-projects.html'"></div>
    <div ng-include="'assets/views/blocks/feedback.html'"></div>
</div>

<div id="footer" class="footer">
    <div ng-include="'assets/views/widgets/social-icons.html'"></div>
</div>