<div class="container feedback">

    <h3>Want to hire me or just say hi?</h3>

    <form method="post" action="send_email.php" class="ng-pristine ng-valid">

        <div class="col-md-6">
            <!-- <p>I’m looking for projects for August - September 2014 (and beyond!)</p> -->

            <h4>Have a project in mind?</h4>

            <p>Please provide as much information as possible — budget, requirements, deadline — so I can answer you as quickly as possible.</p>

            <div class="subFeedback">
                <p>Or if you prefer using standard e-mail form, you can directly send your mail to <a href="mailto:info@toropanov.com">toropanov@gmail.com</a> instead of using feedback form.</p>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <input name="email" type="email" class="form-control" id="inputPassword3" placeholder="E-mail">
            </div>

            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Enter your message here" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-default center-block">Send message</button>
        </div>

    </form>
</div>