<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>Toropanov</title>
	<meta name="viewport" content="initial-scale=1;"
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="assets/styles/main.css">
	<link rel="stylesheet" href="assets/styles/royalslider.css">
	<link rel="stylesheet" href="assets/styles/rs-default.css">
</head>
<body>
    <div class="container">
    	<div id="header">
            <div id="title">
                <div class="title">Anton Toropanov</div>
                <a href="mailto:toropanov@gmail.com?Subject=Sent from personal site">
                <div class="image mail"></div>
                </a>
            </div>
    		

            <div id="login">
                    <form method="post" action="https://passport.yandex.ru/for/toropanov.com?mode=auth"> 
                    <input autofocus type="text" name="login" tabindex="1"/>
                    <input type="hidden" name="retpath" value="http://mail.yandex.ru/for/toropanov.com">
                    <input type="password" name="passwd" maxlength="100" tabindex="2"/>

                    <input class="image key" type="submit" name="In" value="" tabindex="5"/>
                    <form /r>
            </div>
    	</div>



	<div id="gallery-1" class="royalSlider rsDefault visibleNearby">
		<div>
        <img class="rsImg" data-rsw="250" data-rsh="250" src="http://toropanov.com/assets/images/stopsapoi.png"/>
        <div class="rsCaption">
        <img src="https://st.free-lance.ru/users/3xd/upload/f_05851f8c543418db.png">
     		</div>
    </div>
    <div>
        <img class="rsImg" data-rsw="250" data-rsh="250" src="https://st.free-lance.ru/users/3xd/upload/sm_f_09952234e449c4d4.png"/>
        <div class="rsCaption">
        <img src="https://st.free-lance.ru/users/3xd/upload/f_838508d85d475fde.png">
     		</div>
    </div>
    <div>
        <img class="rsImg" data-rsw="250" data-rsh="250" src="https://st.free-lance.ru/users/3xd/upload/sm_f_4225222546a8eb3f.png"/>
        <div class="rsCaption">
        <img src="https://st.free-lance.ru/users/3xd/upload/f_4b7f846ee480d.png">
     		</div>
    </div>   
	</div>
    
    </div>

	<script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.royalslider.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>