@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}    



html, body {
  /* background: #93aeb8 url(../images/fon.svg); */

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url("../images/pattern.png");
    background: url("../images/pattern.png"), -moz-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/pattern.png"), -webkit-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
     background: url("../images/pattern.png"), -o-linear-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/pattern.png"), -ms-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/pattern.png"), radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#902f71a9', endColorstr='#30dfd5a8',GradientType=0);
    background-attachment: fixed;
}

#header {
  font: 60px titilliumregular;
  color: #fff;
  text-align: center;
  padding-top: 2%;
  position: relative;
  width: 542px;
  margin: 0 auto;

}

#header a{
  color: #fff;
  text-decoration: none;
}

#header a:hover{
  text-decoration: underline;
}

#header .title {
  display: inline-table;
}

#header .image {
  background: url(../images/mail.png);
  background-size: 43px 86px;
  width: 43px;
  height: 43px;
  display: inline-table;
  border: 0;
}

#header .image.key {
  background-position-y: 0px;
}
#header .image.mail {background-position-y: -43px;}



#gallery-1 {
  width: 100%;
  margin-top: 3%;
}

.visibleNearby {
  color: #000;
  padding-top: 25px;
}
.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  background: #141414;
  text-align: center;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 18px;
  line-height: 22px;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.35;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.8);  
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.visibleNearby .rsSlide a{
  opacity: 0.35;
}

.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 {
    padding: 0px 0px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) { 
  #gallery-1 {
    padding: 40px 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) { 
  #gallery-1 {
    padding: 20px 0px;
  }
}

@media screen and (min-width: 900px) { 
  #gallery-1 {
    padding: 20px 0px;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
  #gallery-1 {
    padding-top: 0px;
    padding-bottom: 0;
  }
}

.royalSlider,
.royalSlider .rsOverflow,
.royalSlider .rsSlide,
.royalSlider .rsVideoFrameHolder,
.royalSlider .rsThumbs {
    background: white !important;
}

.rsNav {background: white;}

.rsGCaption {}

.rsCaption {
  position: absolute;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  left:0;
  right: 0;
  margin-top: 50px;
  padding-bottom: 50px;
}

.rsGCaption img{
  max-width: 1000px;
  width: 80%;
}

@media all and (max-width: 550px){
  #welcome {font-size: 30px;}
  #welcome img{
  width: 35px;
  top: 9px;
  left: 10px;
  position: relative;}
}

/* */

#login{
      -moz-transform: scale(0); /* Для Firefox */
    -ms-transform: scale(0); /* Для IE */
    -webkit-transform: scale(0); /* Для Safari, Chrome, iOS */
    -o-transform: scale(0); /* Для Opera */
    transform: scale(0);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);

    opacity: 0;
    position: absolute;
}

#login.opened{
        -moz-transform: scale(1); /* Для Firefox */
    -ms-transform: scale(1); /* Для IE */
    -webkit-transform: scale(1); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1); /* Для Opera */
    transform: scale(1);

-webkit-transition: all 500ms cubic-bezier(0.380, 1, 0.835, 0.870); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.380, 1.525, 0.835, 0.870); 
   -moz-transition: all 500ms cubic-bezier(0.380, 1.525, 0.835, 0.870); 
     -o-transition: all 500ms cubic-bezier(0.380, 1.525, 0.835, 0.870); 
        transition: all 500ms cubic-bezier(0.380, 1.525, 0.835, 0.870); /* custom */
    opacity: 1;
    position: relative;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input[type=text], input[type=password] {
font-size: 49px;
margin: 0 11px;
padding: 0 0px;
width: 196px;
color: #ffffff;
border: 0;
background: transparent;
border-bottom: 3px solid white;
-webkit-appearance: none;
outline: 0;
}

input[type=text] {
  width: 150px;
}

input[type=password] {
  width: 243px;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
   font-size: 30px;
   color: white;
   margin-top: -20px;
}

input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {  
   color: red;  
}

input[type=text]:focus, input[type=password]:focus {
-webkit-appearance:none;
}

input[type=submit] {
  
}

/* Other */

#works .item {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 98999;
  top: 300px;
  left: 0;
    background: url("../images/drawing.svg");
    background: url("../images/drawing.svg"), -moz-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/drawing.svg"), -webkit-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
     background: url("../images/drawing.svg"), -o-linear-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/drawing.svg"), -ms-radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    background: url("../images/drawing.svg"), radial-gradient(60% 120%, circle, #dfd5a8 0%, #2f71a9 110%);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#902f71a9', endColorstr='#30dfd5a8',GradientType=0);
    background-attachment: fixed;
    background-size: 300px 300px;
}