/* line 5, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/at/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-moz-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-webkit-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-moz-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-o-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@font-face {
  font-family: 'Open Sans';
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-regular-webfont.woff2") format("woff2"), url("opensans-regular-webfont.woff") format("woff"), url("opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
html, body {
  height: 100%;
}

/* line 3, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
body {
  background: #F5F5F5;
  font-family: "Open Sans";
}

/* line 8, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
a {
  color: #157A15;
  text-decoration: none;
}

/* line 13, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.wrapper {
  font-size: 0;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* line 20, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.main {
  min-height: calc(100% - 327px);
}

/* line 22, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.content {
  font-size: 16px;
  display: inline-block;
  width: calc(100% - 250px);
  vertical-align: top;
  padding-right: 25px;
  box-sizing: border-box;
}

/* line 31, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.sidebar {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

/* line 38, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.block-white {
  background-color: white;
  border: 1px solid #E7E7E7;
}

/* line 43, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.main_title {
  font-size: 28px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -10px;
}

/* line 50, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.main_title:before {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #4F824F;
  position: absolute;
  bottom: 20px;
}

/* line 59, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header {
  font-family: 'Open Sans';
  z-index: 999;
  position: relative;
  overflow: hidden;
  background: #659B8A url("header_bg.svg") top right repeat-x;
  padding: 60px 0 75px;
  text-align: center;
}

/* line 69, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header:before {
  position: absolute;
  bottom: -13px;
  right: 70%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 5;
}

/* line 80, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header:after {
  position: absolute;
  bottom: -30px;
  left: 30%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 5;
}

/* line 92, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_wrap {
  display: inline-block;
  text-decoration: none;
}

/* line 97, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_logotype {
  width: 88px;
  height: 122px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 97, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
  .header_logotype {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -24px;
  }
}

/* line 106, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: white;
}

/* line 113, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 121, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_animation:before {
  content: "";
  position: absolute;
  top: -129px;
  left: -20%;
  width: 120%;
  height: 516px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  opacity: 0;
}

/* line 145, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_title {
  position: relative;
  z-index: 6;
  font-size: 36px;
  padding-bottom: 8px;
}

/* line 152, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_subtitle {
  font-size: 18px;
}

/* line 154, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer {
  position: relative;
  background: #659B8A url("header_bg.svg") top right repeat-x;
  overflow: hidden;
  -webkit-animation: opacity 3s;
  -moz-animation: opacity 3s;
  -o-animation: opacity 3s;
  animation: opacity 3s;
  height: 70px;
}

/* line 164, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer:before {
  position: absolute;
  top: -65px;
  right: 30%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* line 174, /Users/at/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer:after {
  position: absolute;
  top: -48px;
  left: 70%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 5, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post {
  margin-bottom: 30px;
  padding: 5px;
  font-size: 0;
}

/* line 11, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  height: 185px;
  margin-right: 15px;
  background-color: #DEDEDE;
}
/* line 19, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail img {
  width: 100%;
  height: auto;
}

/* line 26, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail-big img {
  width: 100%;
  height: auto;
}

/* line 32, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 245px);
  font-size: 16px;
  padding: 10px 0;
  height: 185px;
  box-sizing: border-box;
}

/* line 42, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_title {
  font-size: 26px;
  padding-bottom: 10px;
}

/* line 47, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_label {
  padding-left: 3px;
}

/* line 51, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_meta_item, .post_item_label {
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  color: #7D7D7D;
  margin-right: 10px;
}

/* line 59, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_icon-like {
  width: 22px;
  height: 19px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 59, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
  .post_item_icon-like {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 0;
  }
}

/* line 67, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_icon-tag {
  width: 20px;
  height: 19px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -243px;
  display: inline-block;
  vertical-align: middle;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 67, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
  .post_item_icon-tag {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -223px;
  }
}

/* line 75, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_text {
  line-height: 22px;
  padding-bottom: 10px;
  min-height: calc(100% - 31px);
}

/* line 81, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_fulltext {
  padding: 20px;
  line-height: 24px;
}

/* line 86, /Users/at/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_title_wrap {
  background: url("post_title_bg.png");
  padding: 20px;
}

/* line 1, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_item {
  margin-bottom: 20px;
}

/* line 5, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_item {
  border-top: 1px solid #D3D3D3;
  padding: 10px 0;
  font-size: 0;
}
/* line 10, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_item:first-child {
  border: none;
}

/* line 13, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_link, .sidebar_nav_count {
  display: inline-block;
  vertical-align: middle;
}

/* line 18, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_link {
  width: calc(100% - 40px);
  font-size: 16px;
}

/* line 23, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_count {
  width: 40px;
  font-size: 16px;
  text-align: right;
}

/* line 29, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about {
  padding: 20px;
  text-align: center;
}

/* line 34, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_title {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/* line 40, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_text {
  font-size: 13px;
  padding-bottom: 20px;
}

/* line 45, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_avatar {
  padding-bottom: 20px;
}

/* line 49, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item-fb {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -151px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 49, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
  .about_icons_item-fb {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -141px;
  }
}

/* line 50, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item-twitter {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -197px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 50, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
  .about_icons_item-twitter {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -182px;
  }
}

/* line 52, /Users/at/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item {
  width: 36px;
  height: 36px;
  margin: 0 2px;
  display: inline-block;
}

/*! Social Likes v3.0.14 by Artem Sapegin - http://sapegin.github.com/social-likes - Licensed MIT */
/* line 2, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes, .social-likes__widget {
  display: inline-block;
  padding: 0;
  vertical-align: middle !important;
  word-spacing: 0 !important;
  text-indent: 0 !important;
  list-style: none !important;
}

/* line 10, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes {
  opacity: 0;
}

/* line 13, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_visible {
  opacity: 1;
  transition: opacity .1s ease-in;
}

/* line 17, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes > * {
  display: inline-block;
  visibility: hidden;
}

/* line 21, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_vertical > * {
  display: block;
}

/* line 24, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_visible > * {
  visibility: inherit;
}

/* line 27, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

/* line 32, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget:before, .social-likes__widget:after {
  display: none !important;
}

/* line 35, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_vertical .social-likes__widget {
  display: block;
  float: left;
  clear: left;
}

/* line 40, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button, .social-likes__icon, .social-likes__counter {
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

/* line 44, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button, .social-likes__counter {
  display: inline-block;
  margin: 0;
  outline: 0;
}

/* line 49, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 56, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button:before {
  content: "";
  display: inline-block;
}

/* line 60, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 65, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__counter {
  display: none;
  position: relative;
}

/* line 69, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_ready .social-likes__counter, .social-likes__counter_single {
  display: inline-block;
}

/* line 72, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_ready .social-likes__counter_empty {
  display: none;
}

/* line 75, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_vertical .social-likes__widget {
  display: block;
}

/* line 78, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_notext .social-likes__button {
  padding-left: 0;
}

/* line 81, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single-w {
  position: relative;
  display: inline-block;
}

/* line 85, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single {
  position: absolute;
  text-align: left;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .11s, opacity .1s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 95, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single.social-likes_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s ease-out;
}

/* line 100, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button_single {
  position: relative;
}

/* line 103, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes {
  min-height: 36px;
  margin: -6px;
}

/* line 107, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes, .social-likes_single-w {
  line-height: 19px;
}

/* line 110, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget {
  margin: 6px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 19px;
}

/* line 118, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget:hover, .social-likes__widget:active, .social-likes__widget:focus {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: pointer;
}

/* line 124, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button, .social-likes__counter {
  vertical-align: middle;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  cursor: inherit;
}

/* line 131, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__button {
  padding: 1px 6px 1px 20px;
  font-weight: 400;
  border-right: 0;
}

/* line 136, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon {
  width: 20px;
  height: 18px;
  margin-top: 1px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 142, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__counter {
  min-width: 12px;
  padding: 1px 4px;
  font-weight: 400;
  text-align: center;
  border-left: 1px solid #ccc;
}

/* line 149, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget:hover > .social-likes__counter, .social-likes__widget:focus > .social-likes__counter, .social-likes__widget:active > .social-likes__counter, .social-likes__widget_active > .social-likes__counter {
  position: relative;
  border-left-color: transparent;
}

/* line 153, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget:hover > .social-likes__counter:before, .social-likes__widget:focus > .social-likes__counter:before, .social-likes__widget:active > .social-likes__counter:before, .social-likes__widget_active > .social-likes__counter:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  border-left: 1px solid;
  opacity: .4;
}

/* line 162, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_vertical {
  margin: -6px;
}

/* line 165, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_vertical .social-likes__widget {
  margin: 6px;
}

/* line 168, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_notext {
  margin: -3px;
}

/* line 171, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_notext .social-likes__widget {
  margin: 3px;
}

/* line 174, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_notext .social-likes__button {
  width: 18px;
}

/* line 177, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_notext .social-likes__icon {
  width: 100%;
  background-position: center center;
}

/* line 181, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_single {
  margin: 0;
}

/* line 184, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single {
  margin: -12px 0 0;
  padding: 4px 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 191, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__single-container {
  width: 100%;
  display: table;
}

/* line 195, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single .social-likes__widget {
  float: none;
  display: table-row;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: 0 0;
}

/* line 203, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single .social-likes__button {
  display: block;
  padding: 2px 6px 2px 24px;
}

/* line 207, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single .social-likes__icon {
  margin-left: 4px;
  margin-top: 2px;
}

/* line 211, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single .social-likes__counter {
  display: table-cell;
  padding: 2px 8px 2px 4px;
  border-left: 0;
  text-align: right;
}

/* line 217, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes_single .social-likes__widget:hover > .social-likes__counter:before, .social-likes_single .social-likes__widget:focus > .social-likes__counter:before, .social-likes_single .social-likes__widget:active > .social-likes__counter:before {
  display: none;
}

/* line 220, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_single {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAaElEQVR42mIxL/zLgATkgXgBECcC8QOYIBOagvVA7ADEa4FYAV0RIxDPAeIUKD8VygeJM7BABf8DsScQ/4HyzwGxB1QcrKgByUpk9h8YnwlJElkBiiYmBiIAbRUx0s46FizhgwEAAgwAkmYQfIjC7tcAAAAASUVORK5CYII=");
}

/* line 224, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_single:hover, .social-likes__widget_single:active, .social-likes__widget_single:focus, .social-likes__widget_active {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3673f4;
  border-color: #3673f4;
  color: #fff;
}

/* line 231, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_single:hover .social-likes__icon_single, .social-likes__widget_single:active .social-likes__icon_single, .social-likes__widget_single:focus .social-likes__icon_single, .social-likes__widget_active .social-likes__icon_single {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAYklEQVR42mL4//8/AxKWB+L9QKyALI6u4Nx/CDiLrBCmgBGIdwOxEVQRiN4DFWcAE1DAAsR/gBgkwIjEBzMaGBAAmf0Hzgea1IDm+P9o/AYmBiIAbRUx0s46FizhgwEAAgwAAJd9Vn3NlgwAAAAASUVORK5CYII=");
}

/* line 235, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_facebook {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaklEQVR42mJ0Cp7jycDAMBeIJRnwg+dAnMxEpGIGqJq5THgULwFicSBmBGJbmCYWPCYWAvEbdEF8GmCK/yMLMjGQCLBpsIW6GwaQ/UC6Ddj8cBjJZOr44TkJ6l+ANKSAGEQofgpKGgABBgAWcxAZp2KpkQAAAABJRU5ErkJggg==");
}

/* line 239, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_facebook:hover, .social-likes__widget_facebook:active, .social-likes__widget_facebook:focus {
  background: #425497;
  border-color: #425497;
}

/* line 243, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_facebook:hover .social-likes__icon_facebook, .social-likes__widget_facebook:active .social-likes__icon_facebook, .social-likes__widget_facebook:focus .social-likes__icon_facebook {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaUlEQVR42mL6//+/JxA/+08YgNR4MoIYDAwMkgzEgedMeBQvAWJxIGYEYluomCQLHtMKgfgNuiA+DTDF/5EFmRhIBNg02ELdDQPIfiDdBlCw/sclRzU/PCdB/QuQhhQQgwjFT4E4GSDAAMuiQX7Tr7YFAAAAAElFTkSuQmCC");
}

/* line 247, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_twitter {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAA9ElEQVR42mKU3vqak4GB4TcQ/2HABFxAXA3EzkD8DIjbgfg+ECuwAIkwIHYD4gSoAchgORD7IfEDgPgpEGczAQlBII4C4kNAbIikSAqIfdEMYgRiMSD+B7JxJ9SZFkB8Foj3A/FWIP4KVYgO5gHxFpBGNSA+DsS2UIVOUIwLfAYRIKe+gGoiFpyDaTwJxEVA/J0ITd+hXgNrBIETMCcQADOA+D26RpCn/+LRdAuI62EcmMb/0IjOx6H5ATSu4a4ChaoPEMcAsTUQy6Bp+AfEy4C4EIjfIEuANG4B4rvQVKEOTWYfoKG3HYgfoluvPm8jA0CAAQAqvDQ/IXqkWQAAAABJRU5ErkJggg==");
}

/* line 251, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_twitter:hover, .social-likes__widget_twitter:active, .social-likes__widget_twitter:focus {
  background: #00b7ec;
  border-color: #00b7ec;
}

/* line 255, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_twitter:hover .social-likes__icon_twitter, .social-likes__widget_twitter:active .social-likes__icon_twitter, .social-likes__widget_twitter:focus .social-likes__icon_twitter {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAAo0lEQVQYGQXBsSoEAACA4Z8YKIO6yXLzjYrkHS5Wm5GyYPMAUgarMikpGZQHsFh4BZPhJi9wJdzn+7JkQZJk2bl3TzYNbGTfvUVJ8gyYmdjJMd6sS9bMAHwbZ+QHMy9OHQDgWtn1CgAALpUtAADAnpITUwAAU6tKtn0BALiSkjkXfgHAhxUpybwjvwA+DSVl7MEEwJ87A0lKRs7cenTj0FCSpH8xHAhkcGt6PAAAAABJRU5ErkJggg==");
}

/* line 259, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_plusone {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABD0lEQVR42nTSsUtCURTH8eszSGgIgkqSoHBQh7QpbAlBcRCJ2staHFoa+hNyzqXBoan+gMDdoWgymkwkBxMiggo3a3Cp76WfcJHXgQ/nvfveue+ewwt08luGmEEdcwgjZP7iFrtmIqaUn5SXkUEDA+wZn/CwgQgetHYjC+JbZCOANWf9VXmobDd+c4vu8YgoalhFFpf4VL8rmMW8vR/3lEQV2yijhUO99KzeQ7p+95wjneAMQcRQ1JfsNA/wrc1T46KaznyMJqZxrcIvdNRf3957Gm8JO0ggjRx+cKpN21h0B7GJDw3EOGPvYuQ3ctvgC+K4w7nOfoQlFP4rsg+usI4Lrff0Z7QnCyqpffMrwAC15jTuOMaeqQAAAABJRU5ErkJggg==");
}

/* line 263, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_plusone:hover, .social-likes__widget_plusone:active, .social-likes__widget_plusone:focus {
  background: #dd4241;
  border-color: #dd4241;
}

/* line 267, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_plusone:hover .social-likes__icon_plusone, .social-likes__widget_plusone:active .social-likes__icon_plusone, .social-likes__widget_plusone:focus .social-likes__icon_plusone {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAA5klEQVR42myRvQrCMBSFUyehmyC4Zte1OPoALi6+gy/j6uobiINbF3Fx6tDFpZtSUFzEPxQxnksPchty4WvSJPeek5vIOWcQMViCFuiApqliDUbGD0kCeyLzAfiAI4i5VkM+CfiChdpIXRU2lNSgYAR6ysCB441jAkrfXs7KM1YXq3PuicUxuIO2/GvZKSh4n4xrcugKniwq88L3O+GmVB0GlKxWElsl2IEt1d4qsctu/ruXskqiFKXtL2WzRiQJ6McJWO8Jc/AA/dDj7niPDb2LpRU4e+q1x7VMkM5cSMZ7mBA/AQYALgmaWsDGGiQAAAAASUVORK5CYII=");
}

/* line 271, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_mailru {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8XunISbFxmQ5UYqGIj9KMztLCyTKrMZCs7K1U7NSLBRloWb+AREmFpPF7GUzRBaymGLpV5bi+9RzM+XU595zT+85533PueHTXhC1BFaRx6DHnnGEbbxoIPSEFCp+l3DjCWOYc38FFzEe7Tj3Dlr5AG0OWscA6jhFX5zHmgO1+oy3V0AHirhHGZ36jjnnknfaxzKmMIxdTKMHO0pPE/px6cA7nAV/bQsfXky7fmtCqA5a8Bn8bz/WqlhNaCCDE0xivCk459zfMKq6VPQxCth0wTUfcZdr+UIaWVR1D0k6115lFkNYwLuPeB4beFUm0cVN4NCnoaBb5z3iDFTfIx7Cpl+j23eyiF6Pqb4lXEVBvwIMAGRTP1kwMI3TAAAAAElFTkSuQmCC");
}

/* line 275, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_mailru:hover, .social-likes__widget_mailru:active, .social-likes__widget_mailru:focus {
  background: #255896;
  border-color: #255896;
  color: #ffcd00;
}

/* line 280, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_mailru:hover .social-likes__icon_mailru, .social-likes__widget_mailru:active .social-likes__icon_mailru, .social-likes__widget_mailru:focus .social-likes__icon_mailru {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8Xtn0IyIDc1SFpJQ5EdN1ChLC6PJFCsWsvInKCvFQllYKPaaZpIpC83CntkgsrBSLP1K2Wh8n3pupubU5865p/c9533PnbBWDaLRijWsYMBrLyhiF69aCJ3Qg7J/j3DrhDFkPV/FuRKSTK6RQAbtmMEPCojjxGv9TTw2XIJ2n/PxN2jDFh5wjA69x1yzytBJB1hCGsPYxyxS2FN5SuhDxYH3OAv+xw4+vZlO/VVCqAma8RU0jpq1KFYJz5jCKSYxXhe87NrfMaq+1HQJ69h2w5e+4k738o1BTONC19rNpOpd5jGEHD5wiAVs4k2VRB9uwneectCd6x5xBervCY9h3V+jy99kEb1eU395XEVBfwIMAE0mQy9JLJUSAAAAAElFTkSuQmCC");
}

/* line 284, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_vkontakte {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAsElEQVR42mKJLJ3tycDAMBeIJRnwg+dAnMxEpGIGqJq5TGiKGZEwSE4ViDcha2LCYpIREK8C4l4gfgLElciSLDisDgXi/0A8DYi58GkA8Y8AsQkQfwHie0C8BVkBupO4kWyIBWJxIE4D4u/4nKQMxOVQ9jcgbgPii0BsgUvDIyCeBcR/gHgFVI00PhsuA3E61Lkg2xYAsSyyhudIcfGBQOS9AJmSAmIQEdNPQUkDIMAA8iAe2OyimvEAAAAASUVORK5CYII=");
}

/* line 288, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_vkontakte:hover, .social-likes__widget_vkontakte:active, .social-likes__widget_vkontakte:focus {
  background: #526e8f;
  border-color: #526e8f;
}

/* line 292, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_vkontakte:hover .social-likes__icon_vkontakte, .social-likes__widget_vkontakte:active .social-likes__icon_vkontakte, .social-likes__widget_vkontakte:focus .social-likes__icon_vkontakte {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAfUlEQVQYGQXBMQ4BUQAFwGej0P1aohJCJBpcwu6N1AqVTqFX6TSu4B4if2+gNGZirwIAqPZRAQBADSAiBmYeQACxcXc2sgICiA4/MzsggKFia6HxBAIolk6Oxia+EEDRgYN4QQDF2tXF1NAbAigiGnM3ICoAAOij1QMA+Gj/aNf4AJYJLVIAAAAASUVORK5CYII=");
}

/* line 296, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_odnoklassniki {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAyElEQVR42kzPMQtBcRTG4UvKQmalZFNKDNdm5gsYFCUlCbMyGMwsfACLzRcw2EwsGJTBQAZlUgxsfidvceq5/3vPeTv3Xs99FHMoP3ooOd+aoo+3T40hmnjouYsQWl4uEdRxRkLO6kVsQwB23nDRBruP2swGJ+zgYqKAq97JAi8UMUNFgb16LwvUkEYHcQUOaGNjgTKyaGCrQErn0gJVpQt/g6teObbfPGKAp/Orp3pH25DEHGGsFchghbxXXxvEAjlZqFf8CDAAgr4qyqKlfhgAAAAASUVORK5CYII=");
  background-position: 6px 3px;
}

/* line 301, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_odnoklassniki:hover, .social-likes__widget_odnoklassniki:active, .social-likes__widget_odnoklassniki:focus {
  background: #f6903b;
  border-color: #f6903b;
}

/* line 305, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAgElEQVQIHQXBoRGCAAAF0N80OoA0AxTHcQMncAaO7J1ndRCbgUDRbPCgMABEjnu+F7FRGwxqG4m4YTLhJrG36BUKvcU+SnQiOpSx9cHDAx/biMoP/FQSZ3cnFxcnd+d4YfX2tuIVB1cjGF0dIgpf8FVIHI1otRgdozF72tl5mjV/486WhTdrOooAAAAASUVORK5CYII=");
}

/* line 309, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__icon_pinterest {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAABCUlEQVR42nTRPUvDUBTG8ZtoKYogTsGCoAXtUqFuBR1c/AZddNbRQUqhH0Eo6KKDb0gpXQUHBxF0Kg6KFAWh4qI4KxQRtKXxf+C5OEgP/Ehu8uTclwSN0VmnWsE6shjEF05QwZMFQr04QB3vKOmjGlZxiZxTcE0Pi9jCGD402xnOsYNF67yBGwWP8IaCwhe4xjxmLDyNUySxjGGk3F/5Wcb9Rib04FNLu9LYmk2ih1cbVLXmKXTRwoPCc8jgES/WpYymlhOpSxoxdjXTNn7spo19nYbN1ME9hjTexLE/OqsAC/jGknYf6Yxv/U592LrkcYdn+VehrgmM4ND1r8CHB7CnX96v4l8BBgB54jWa5GM+bAAAAABJRU5ErkJggg==");
}

/* line 313, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_pinterest:hover, .social-likes__widget_pinterest:active, .social-likes__widget_pinterest:focus {
  background: #cc002b;
  border-color: #cc002b;
}

/* line 317, /Users/at/Code/blog/app/assets/stylesheets/blog/_social_icons.css.scss */
.social-likes__widget_pinterest:hover .social-likes__icon_pinterest, .social-likes__widget_pinterest:active .social-likes__icon_pinterest, .social-likes__widget_pinterest:focus .social-likes__icon_pinterest {
  background-image: url("data:image/png;\a   base64, iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAQAAADV/FywAAAAvklEQVQYGQXBsUoUAACA4f/i8MBB0TdINCQQhHoDaXRzagkkopYGhRYfwKWhSYLDZ2ixNyiTVp1cXMQgaDpNsa6v70vy3DcTt34ZeyRlaIzPXnvpAy6tK2+wIwuSZ/75Yphz3+XQjS3JVzwOe0Z+463kCBu58dHIT/fW5IEzUys58NeqK6eSJ/44NZM5r2yaurTkoRNsK8kuLlybYt9AycAnd5a98M5TScmsH44lSVIyb2JbkiSDZNF7I0mS9B8IOsS5z/yrNgAAAABJRU5ErkJggg==");
}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* line 3, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
.prettyprint {
  background: white !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}

/* line 12, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
.pln {
  color: #4d4d4c !important;
}

@media screen {
  /* line 17, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #718c00 !important;
  }

  /* line 21, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #8959a8 !important;
  }

  /* line 25, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #8e908c !important;
  }

  /* line 29, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #4271ae !important;
  }

  /* line 33, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #f5871f !important;
  }

  /* line 37, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun {
    color: #4d4d4c !important;
  }

  /* line 41, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .opn {
    color: #4d4d4c !important;
  }

  /* line 45, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .clo {
    color: #4d4d4c !important;
  }

  /* line 49, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #c82829 !important;
  }

  /* line 53, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #f5871f !important;
  }

  /* line 57, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #3e999f !important;
  }

  /* line 61, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .dec {
    color: #f5871f !important;
  }

  /* line 65, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .var {
    color: #c82829 !important;
  }

  /* line 69, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .fun {
    color: #4271ae !important;
  }
}
@media print, projection {
  /* line 74, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #006600 !important;
  }

  /* line 78, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 83, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #600 !important;
    font-style: italic !important;
  }

  /* line 88, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #404 !important;
    font-weight: bold !important;
  }

  /* line 93, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #004444 !important;
  }

  /* line 97, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun, .opn, .clo {
    color: #444400 !important;
  }

  /* line 101, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 106, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #440044 !important;
  }

  /* line 110, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #006600 !important;
  }
}
/* Specify class=linenums on a pre to get line numbering */
/* line 115, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* IE indents via margin-left */
/* line 121, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
/* line 135, /Users/at/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
