/* line 5, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-moz-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-webkit-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-moz-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-o-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@font-face {
  font-family: 'Open Sans';
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-regular-webfont.woff2") format("woff2"), url("opensans-regular-webfont.woff") format("woff"), url("opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
html, body {
  height: 100%;
}

/* line 3, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
body {
  background: #F5F5F5;
  font-family: "Open Sans";
}

/* line 8, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
a {
  color: #157A15;
  text-decoration: none;
}

/* line 13, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.wrapper {
  font-size: 0;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* line 20, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.main {
  min-height: calc(100% - 327px);
}

/* line 22, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.content {
  font-size: 16px;
  display: inline-block;
  width: calc(100% - 250px);
  vertical-align: top;
  padding-right: 25px;
  box-sizing: border-box;
}

/* line 31, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.sidebar {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

/* line 38, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.block-white {
  background-color: white;
  border: 1px solid #E7E7E7;
}

/* line 43, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.main_title {
  font-size: 28px;
  padding-bottom: 40px;
  position: relative;
  margin-top: -20px;
}

/* line 50, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.main_title:before {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #4F824F;
  position: absolute;
  bottom: 20px;
}

/* line 59, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header {
  font-family: 'Open Sans';
  z-index: 999;
  position: relative;
  overflow: hidden;
  background: #659B8A url("header_bg.svg") top right repeat-x;
  padding: 60px 0 75px;
  text-align: center;
}

/* line 69, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header:before {
  position: absolute;
  bottom: -13px;
  right: 70%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: 5;
}

/* line 80, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header:after {
  position: absolute;
  bottom: -30px;
  left: 30%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 5;
}

/* line 92, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_wrap {
  display: inline-block;
  text-decoration: none;
}

/* line 97, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_logotype {
  width: 88px;
  height: 122px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 97, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
  .header_logotype {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -24px;
  }
}

/* line 106, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: white;
}

/* line 113, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 121, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_animation:before {
  content: "";
  position: absolute;
  top: -129px;
  left: -20%;
  width: 120%;
  height: 516px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  opacity: 0;
}

/* line 145, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_title {
  position: relative;
  z-index: 6;
  font-size: 36px;
  padding-bottom: 8px;
}

/* line 152, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.header_subtitle {
  font-size: 18px;
}

/* line 154, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer {
  position: relative;
  background: #659B8A url("header_bg.svg") top right repeat-x;
  overflow: hidden;
  -webkit-animation: opacity 3s;
  -moz-animation: opacity 3s;
  -o-animation: opacity 3s;
  animation: opacity 3s;
  height: 70px;
}

/* line 164, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer:before {
  position: absolute;
  top: -65px;
  right: 30%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* line 174, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.footer:after {
  position: absolute;
  top: -48px;
  left: 70%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #F5F5F5;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 5, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post {
  margin-bottom: 30px;
  padding: 5px;
  font-size: 0;
}

/* line 11, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  height: 185px;
  margin-right: 15px;
  background-color: #DEDEDE;
}
/* line 19, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail img {
  width: 100%;
  height: auto;
}

/* line 25, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail-big {
  height: 350px;
  overflow: hidden;
}
/* line 28, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_thumbnail-big img {
  width: 100%;
  height: auto;
}

/* line 34, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 245px);
  font-size: 16px;
  padding: 10px 0;
  height: 185px;
  box-sizing: border-box;
}

/* line 44, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_title {
  font-size: 26px;
  padding-bottom: 10px;
}

/* line 49, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_label {
  padding-left: 3px;
}

/* line 53, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_meta_item, .post_item_label {
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  color: #7D7D7D;
  margin-right: 10px;
}

/* line 61, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_icon-like {
  width: 22px;
  height: 19px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 61, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
  .post_item_icon-like {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 0;
  }
}

/* line 69, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_item_icon-tag {
  width: 20px;
  height: 19px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -243px;
  display: inline-block;
  vertical-align: middle;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 69, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
  .post_item_icon-tag {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -223px;
  }
}

/* line 77, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_posts.scss */
.post_text {
  line-height: 22px;
  padding-bottom: 10px;
  min-height: calc(100% - 31px);
}

/* line 1, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_item {
  margin-bottom: 20px;
}

/* line 5, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_item {
  border-top: 1px solid #D3D3D3;
  padding: 10px 0;
  font-size: 0;
}
/* line 10, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_item:first-child {
  border: none;
}

/* line 13, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_link, .sidebar_nav_count {
  display: inline-block;
  vertical-align: middle;
}

/* line 18, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_link {
  width: calc(100% - 40px);
  font-size: 16px;
}

/* line 23, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_nav_count {
  width: 40px;
  font-size: 16px;
  text-align: right;
}

/* line 29, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about {
  padding: 20px;
  text-align: center;
}

/* line 34, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_title {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/* line 40, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_text {
  font-size: 13px;
  padding-bottom: 20px;
}

/* line 45, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.sidebar_about_avatar {
  padding-bottom: 20px;
}

/* line 49, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item-fb {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -151px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 49, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
  .about_icons_item-fb {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -141px;
  }
}

/* line 50, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item-twitter {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-s009db772a2-5f34111267e067e7855a54772ae5dc24.png);
  background-position: 0 -197px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 50, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
  .about_icons_item-twitter {
    background-image: url(/assets/icons-2x-s0dd771a7bc-a95c84bf5fc83506eeb9635502ffaf9b.png);
    background-size: 88px 243px;
    background-position: 0 -182px;
  }
}

/* line 52, /Users/hevix/Code/blog/app/assets/stylesheets/blog/_sidebar.css.scss */
.about_icons_item {
  width: 36px;
  height: 36px;
  margin: 0 2px;
  display: inline-block;
}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* line 3, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
.prettyprint {
  background: white !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}

/* line 12, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
.pln {
  color: #4d4d4c !important;
}

@media screen {
  /* line 17, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #718c00 !important;
  }

  /* line 21, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #8959a8 !important;
  }

  /* line 25, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #8e908c !important;
  }

  /* line 29, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #4271ae !important;
  }

  /* line 33, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #f5871f !important;
  }

  /* line 37, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun {
    color: #4d4d4c !important;
  }

  /* line 41, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .opn {
    color: #4d4d4c !important;
  }

  /* line 45, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .clo {
    color: #4d4d4c !important;
  }

  /* line 49, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #c82829 !important;
  }

  /* line 53, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #f5871f !important;
  }

  /* line 57, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #3e999f !important;
  }

  /* line 61, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .dec {
    color: #f5871f !important;
  }

  /* line 65, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .var {
    color: #c82829 !important;
  }

  /* line 69, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .fun {
    color: #4271ae !important;
  }
}
@media print, projection {
  /* line 74, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #006600 !important;
  }

  /* line 78, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 83, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #600 !important;
    font-style: italic !important;
  }

  /* line 88, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #404 !important;
    font-weight: bold !important;
  }

  /* line 93, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #004444 !important;
  }

  /* line 97, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun, .opn, .clo {
    color: #444400 !important;
  }

  /* line 101, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 106, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #440044 !important;
  }

  /* line 110, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #006600 !important;
  }
}
/* Specify class=linenums on a pre to get line numbering */
/* line 115, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* IE indents via margin-left */
/* line 121, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
/* line 135, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
