/* line 5, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-moz-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 92px 0px;
  }
}
@-webkit-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-moz-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@-o-keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@keyframes loading-reverse {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -92px 0px;
  }
}
@font-face {
  font-family: 'Open Sans';
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-regular-webfont.woff2") format("woff2"), url("opensans-regular-webfont.woff") format("woff"), url("opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: red;
}

@media (min-width: 768px) {
  /* line 10, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 16, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 22, /Users/hevix/Code/blog/app/assets/stylesheets/_common.css.scss */
  .wrapper {
    width: 1170px;
  }
}
/* line 1, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header {
  font-family: 'Open Sans';
  z-index: 999;
  position: relative;
  overflow: hidden;
  background: #659B8A url("header_bg.svg") top center repeat-x;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
  padding-top: 97px;
  padding-bottom: 110px;
}

/* line 12, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header:before {
  position: absolute;
  bottom: -13px;
  right: 70%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #ffffff;
  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  z-index: 5;
}

/* line 25, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header:after {
  position: absolute;
  bottom: -30px;
  left: 30%;
  width: 2000px;
  height: 100px;
  content: "";
  background: #ffffff;
  transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  z-index: 5;
}

/* line 39, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header_animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 47, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header_animation:before {
  content: "";
  position: absolute;
  top: -129px;
  left: -20%;
  width: 120%;
  height: 516px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
  -webkit-transform: rotate(-4deg);
  opacity: 0;
}

/* line 71, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header_title {
  position: relative;
  color: white;
  z-index: 6;
  text-align: center;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/assets/icons-sf4fd373a2a-8600846cdcd5e6ca658100c78dfc5e28.png);
  background-position: 0 0;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 71, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
  .header_title {
    background-image: url(/assets/icons-2x-s852d9a1313-bbb73297915834b65cf29afb25e5f66a.png);
    background-size: 22px 19px;
    background-position: 0 0;
  }
}

/* line 79, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header a {
  text-decoration: none;
}

/* line 82, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header_title h1 {
  color: white;
  font-size: 36px;
  display: inline-block;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* line 91, /Users/hevix/Code/blog/app/assets/stylesheets/_header.css.scss */
.header_title h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* line 3, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
.prettyprint {
  background: white !important;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}

/* line 12, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
.pln {
  color: #4d4d4c !important;
}

@media screen {
  /* line 17, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #718c00 !important;
  }

  /* line 21, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #8959a8 !important;
  }

  /* line 25, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #8e908c !important;
  }

  /* line 29, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #4271ae !important;
  }

  /* line 33, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #f5871f !important;
  }

  /* line 37, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun {
    color: #4d4d4c !important;
  }

  /* line 41, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .opn {
    color: #4d4d4c !important;
  }

  /* line 45, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .clo {
    color: #4d4d4c !important;
  }

  /* line 49, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #c82829 !important;
  }

  /* line 53, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #f5871f !important;
  }

  /* line 57, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #3e999f !important;
  }

  /* line 61, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .dec {
    color: #f5871f !important;
  }

  /* line 65, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .var {
    color: #c82829 !important;
  }

  /* line 69, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .fun {
    color: #4271ae !important;
  }
}
@media print, projection {
  /* line 74, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .str {
    color: #006600 !important;
  }

  /* line 78, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .kwd {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 83, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .com {
    color: #600 !important;
    font-style: italic !important;
  }

  /* line 88, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .typ {
    color: #404 !important;
    font-weight: bold !important;
  }

  /* line 93, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .lit {
    color: #004444 !important;
  }

  /* line 97, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .pun, .opn, .clo {
    color: #444400 !important;
  }

  /* line 101, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .tag {
    color: #006 !important;
    font-weight: bold !important;
  }

  /* line 106, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atn {
    color: #440044 !important;
  }

  /* line 110, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
  .atv {
    color: #006600 !important;
  }
}
/* Specify class=linenums on a pre to get line numbering */
/* line 115, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
ol.linenums {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* IE indents via margin-left */
/* line 121, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
/* line 135, /Users/hevix/Code/blog/vendor/assets/stylesheets/prettify.css */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
