<div class="sidebar_item sidebar_about block-white">
  <div class="sidebar_about_title">About author</div>
  <div class="sidebar_about_avatar"><%= image_tag "about_avatar.png" %></div>
  <div class="sidebar_about_text">24 year old Front-end developer from Moscow, Russia</div>
  <div class="sidebar_about_icons">
    <div class="about_icons_item about_icons_item-fb"></div>
    <div class="about_icons_item about_icons_item-twitter"></div>
  </div>
</div>
