<div class="sidebar_item sidebar_nav">
  <div class="sidebar_nav_item">
    <%= link_to "Blog", root_path, { :class=>"sidebar_nav_link" } %>
    <div class="sidebar_nav_count">3</div>
  </div>
  <div class="sidebar_nav_item">
    <%= link_to "About", about_path, { :class=>"sidebar_nav_link" } %>
    <div class="sidebar_nav_count">3</div>
  </div>
</div>
