<div id="sidebar" class="sidebar hidden-xs hidden-sm col-md-4 col-lg-4">
  <% if current_page?(root_path) %>
    <%= render '/sidebar/about' %>
  <% elsif current_page?(about_path) %>
    about
  <% else %>
    <%= render '/sidebar/about' %>
  <% end %>
</div>
