<div class="widget--certificate pull-right">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <a class="pop-up" magnific-popup href="./images/certificates/{{image.src}}"><img class="img-responsive" ng-src="images/certificates/{{image.src}}" /></a>
    </div>
    <div class="arrows">
        <a href="" ng-click="prev()">
            <img src="assets/img/left-arrow.png" />
        </a>
        <a href="" ng-click="next()">
            <img src="assets/img/right-arrow.png" />
        </a>
    </div>
</div>