<div class="widget-certificates pull-right">
    <div class="slide" ng-repeat="image in images" ng-show="image.visible">
        <a class="pop-up" magnific-popup href="./images/certificates/{{image.src}}"><img class="img-responsive" ng-src="images/certificates/{{image.src}}" /></a>
    </div>
    <div class="widget-certificates_arrows">
        <a href="" class="widget-certificates_arrows-item widget-certificates_arrows-prev" ng-click="prev()"></a>
        <div class="widget-certificates_arrows_description">Certificates</div>
        <a href="" class="widget-certificates_arrows-item widget-certificates_arrows-next" ng-click="next()"></a>
    </div>
</div>