<div class="widget_social-icons">
    <div class="widget_social-icons_title">Social accounts:</div>
    <a class="widget_social-icons_item widget_social-icons_item-odesk" target="_blank" href="http://odesk.com/users/~01151bc833c812c678"></a>
    <a class="widget_social-icons_item widget_social-icons_item-linkedin" target="_blank" href="http://linkedin.com/profile/view?id=176891172"></a>
    <a class="widget_social-icons_item widget_social-icons_item-brainstorage" target="_blank" href="http://brainstorage.me/tanotify/"></a>
    <a class="widget_social-icons_item widget_social-icons_item-github" target="_blank" href="http://github.com/tanotify/"></a>
    <a class="widget_social-icons_item widget_social-icons_item-skype" href="skype:toropanov.com"></a>
    <a class="widget_social-icons_item widget_social-icons_item-codepen" href="http://codepen.io/tanotify/"></a>
</div>