<ul class="order__social--icons">
    <li class="title">Social accounts:</li>
    <li class="odesk"><a target="_blank" href="http://odesk.com/users/~01151bc833c812c678"></a></li>
    <li class="linkedin"><a target="_blank" href="http://linkedin.com/profile/view?id=176891172"></a></li>
    <li class="brainstorage"><a target="_blank" href="http://brainstorage.me/tanotify/"></a></li>
    <li class="github"><a target="_blank" href="http://github.com/tanotify/"></a></li>
    <li class="skype"><a href="skype:toropanov.com"></a></li>
    <li class="codepen"><a href="http://codepen.io/tanotify/"></a></li>
</ul>