<div class="feedback_shadow feedback_hire-me_shadow"></div>

<div class="feedback_title feedback_hire-me_title">
    <span class="feedback_title_text">Hire me</span>
    <span class="feedback_title_number">2</span>
</div>
<div class="feedback_hire-me_container">
    <a href="#" class="hire-me_download-CV">
        <img src="assets/img/download-cv.png" class="hire-me_download-CV_image" alt=""/>
        <span class="hire-me_download-CV_label">My CV</span>
    </a>

    <p>I am always in a way of finding interesting project to work with, but in case of my full-time work will be ..</p>
    <form action="" class="create-project_form">
        <div class="col-md-4">
            <div class="create-project_form_input-container">
                <span class="create-project_form_label">Company Name</span>
                <input class="create-project_form_input" placeholder="Ivan" type="text"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="create-project_form_input-container">
                <span class="create-project_form_label">Contact Name</span>
                <input class="create-project_form_input" placeholder="+7 (987) 000-12-34" type="text"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="create-project_form_input-container">
                <span class="create-project_form_label">Phone</span>
                <input class="create-project_form_input" placeholder="+7 (987) 000-12-34" type="text"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="create-project_form_input-container">
                <span class="create-project_form_label">Description</span>
                <input class="create-project_form_input" placeholder="info@example.com" type="text"/>
            </div>
        </div>
        <div class="col-md-12">
            <button class="create-project_form_button">Send</button>
        </div>
    </form>
    <p>Your message will be garanteed send to me and replied in a one working day.</p>
    <p>But if you in any case want to directly send your mail to <a href="mailto:toropanov@gmail.com">toropanov@gmail.com</a> instead of using feedback form.</p>
    <div class="feedback_hire-me_phone">+7 (915) 131-33-45</div>
</div>