<div class="container workContainer">
<h3>Latest projects</h3>

<div ng-init="isShown = false" ng-class="{'listWork': !isShown, 'listWork shown': isShown}">
    <div class="col-md-12 btn-container text-center clearfix">
        <button ng-click="isShown = !isShown" class="btn-projects">Other projects</button>
    </div>
    <div ng-repeat="work in works" class="eachWork col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="workContainer">
                    <!--<div class="imgWork"><img onerror="this.style.display='none'" src="./images/works/{{work.url}}_mini.png" alt=""></div>-->
                    <div class="preview">
                        <div class="preview--in">
                            <a class="pop-up" magnific-popup href="./images/works/{{work.url}}.png">
                                <img class="img-responsive" src="./images/works/{{work.url}}.png" alt="">
                            </a>
                        </div>
                        <!--<div class="preview--in__1">-->
                            <!--<a class="pop-up" magnific-popup href="./images/works/{{work.url}}_1.png">-->
                                <!--<img class="img-responsive" src="./images/works/{{work.url}}_1.png" alt="">-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div ng-init="isActive = false" ng-click="isActive = !isActive" ng-class="{'overlayinfo': !isActive, 'overlayinfo active': isActive}">
                        <h4>{{work.title}}</h4>
                        <h6>{{work.label}}</h6>

                        <div class="description">
                           {{work.description}}
                        </div>
                    </div>
        </div>
    </div>
    <!--<div class="btn-close-container text-center clearfix">-->
        <!--<button ng-click="isShown = !isShown" class="btn-close"></button>-->
    <!--</div>-->
</div>

</div>
