<div class="container">
    <h3>Latest projects</h3>

    <div class="loadingWork"></div>
    <div class="listWork">
        <div ng-repeat="work in works|limitTo:6" class="eachWork col-md-4 col-sm-6 col-xs-12" ng-click="showWork(work)" ng-class="{changeClass: isActive(work)}">
            <div class="workContainer">
                <div class="imgWork"><img onerror="this.style.display='none'" src="./images/works/{{work.url}}_mini.png" alt=""></div>
                <div class="overlayinfo">
                    <h4>{{work.title}}</h4>
                    <h6>{{work.label}}</h6>
                </div>
                <div class="preview">
                    <div class="preview--in">
                        <a class="pop-up" magnific-popup href="./images/works/{{work.url}}.png">
                            <img onerror="this.style.display='none'" class="img-responsive" src="./images/works/{{work.url}}.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="description">
                    {{work.description}}
                </div>
            </div>
        </div>

    </div>

    <div class="btn-container text-center clearfix ">
        <a href="#/works">
            <button class="btn-projects">Other projects</button>
        </a>
    </div>
</div>


<!--.works #header {-->
<!--/*margin-top: -170px;*/-->
<!--}-->

<!--.listWork.selected {-->
<!---webkit-animation: showWork 1s;-->
<!---moz-animation: showWork 1s;-->
<!---o-animation: showWork 1s;-->
<!--animation: showWork 1s;-->
<!--}-->

<!--.listWork > .eachWork.opened.selected {-->
<!--margin-bottom: 50px;-->
<!--}-->

<!--/*-->
<!--Pseudo elements-->
<!--*/-->

<!--.listWork.opened:before {-->
<!--content: "";-->
<!--background: url("../img/work_arrow1.png");-->
<!--width: 117px;-->
<!--height: 42px;-->
<!--position: absolute;-->
<!--top: 48px;-->
<!--left: 50%;-->
<!--margin-left: 117px;-->
<!--}-->
<!--.listWork.opened:after {-->
<!--content: "";-->
<!--background: url("../img/work_arrow2.png");-->
<!--width: 98px;-->
<!--height: 159px;-->
<!--position: absolute;-->
<!--top: 561px;-->
<!--left: 50%;-->
<!--margin-left: 179px;-->
<!--}-->

<!--/*-->
<!--Each of works - Just gallery-->
<!--*/-->

<!--.eachWork {-->
<!--cursor: pointer;-->
<!--}-->

<!--.eachWork .preview {-->
<!--display: none;-->
<!--}-->

<!--.eachWork .description {-->
<!--display: none;-->
<!--}-->

<!--/*-->
<!--Each of works - Selected-->
<!--*/-->

<!--.eachWork.selected {-->
<!--cursor: default;-->
<!--}-->

<!--.eachWork.selected .overlayinfo {-->
<!--/*background: #41367C;*/-->
<!--background: -webkit-linear-gradient(281deg,#41367C 40%,#66609D 100%);-->
<!--background: linear-gradient(169deg,#41367C 40%, #66609D 100%);-->
<!--background-color: #41367C;-->
<!--margin: -10px;-->
<!--height: 310px;-->
<!--}-->

<!--.eachWork.selected .overlayinfo h4{-->
<!--color: #ffffff;-->
<!--font-size: 61px;-->
<!--}-->

<!--.eachWork.selected .overlayinfo h6{-->
<!--background: rgb(218, 218, 218);-->
<!--display: inline;-->
<!--padding: 3px 7px;-->
<!--border-radius: 4px;-->
<!--}-->

<!--.eachWork.selected .preview {-->
<!--display: block;-->
<!--background: url(../img/preview.png) no-repeat;-->
<!--width: 600px;-->
<!--height: 386px;-->
<!--background-size: 100%;-->
<!--position: absolute;-->
<!--top: 150px;-->
<!--left: 50%;-->
<!--margin-left: -300px;-->
<!--}-->

<!--.eachWork.selected .preview .preview--in {-->
<!--position: absolute;-->
<!--top: 38px;-->
<!--left: 93px;-->
<!--width: 413px;-->
<!--height: 257px;-->
<!--overflow: hidden;-->
<!--}-->

<!--.eachWork.selected .description {-->
<!--display: block;-->
<!--position: absolute;-->
<!--top: 490px;-->
<!--width: 100%;-->
<!--left: 0px;-->
<!--padding: 38px 78px 38px 38px;-->
<!--font-size: 18px;-->
<!--height: 280px;-->
<!--line-height: 30px;-->
<!--}-->

<!--/*-->
<!--Each of works - Opened-->
<!--*/-->

<!--.eachWork.opened .workContainer {-->
<!--border-color: #CD9F27;-->
<!--position: relative;-->
<!--}-->

<!--.eachWork.opened .overlayinfo {-->
<!--border-color: #CD9F27;-->
<!--}-->

<!--.eachWork.opened .workContainer:before {-->
<!--width: 16px;-->
<!--height: 16px;-->
<!--position: absolute;-->
<!--top: 5px;-->
<!--left: 5px;-->
<!--content: "";-->
<!--background: url("../img/okay.png");-->
<!--}-->

<!--.eachWork.selected.opened .workContainer {-->
<!--border-color: #BEBACF;-->
<!--}-->

<!--.eachWork.selected.opened .workContainer:before {-->
<!--display: none;-->
<!--}-->

<!--.eachWork.selected.opened .workContainer .overlayinfo{-->
<!--border: none;-->
<!--}-->

<!--/*-->
<!--Loading-->
<!--*/-->

<!--.works .loadingWork {-->
<!--background: url("../img/contentLoading.gif");-->
<!--width: 32px;-->
<!--height: 32px;-->
<!--position: absolute;-->
<!--top: 275px;-->
<!--left: 50%;-->
<!--margin-left: -16px;-->
<!--}-->

<!--.works .listWork > .selected {-->
<!--width: 66.66666667%;-->
<!--}-->

<!--.works .listWork > .selected > .workContainer {-->
<!--height: 753px;-->
<!--}-->

<!--#portfolio {-->
<!--background: #f4f4f4;-->
<!--}-->

<!--.slidePreview {-->
<!--text-align: center;-->
<!--border: 1px solid #cfcfcf;-->
<!---webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);-->
<!---moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);-->
<!--box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);-->
<!--width: 1026px;-->
<!--}-->

<!--.slidePreview > .title{-->
<!--background: #dddddd; /* Old browsers */-->
<!--background: -moz-linear-gradient(top,  #dddddd 0%, #aeadae 100%); /* FF3.6+ */-->
<!--background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#aeadae)); /* Chrome,Safari4+ */-->
<!--background: -webkit-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* Chrome10+,Safari5.1+ */-->
<!--background: -o-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* Opera 11.10+ */-->
<!--background: -ms-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* IE10+ */-->
<!--background: linear-gradient(to bottom,  #dddddd 0%,#aeadae 100%); /* W3C */-->
<!--filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#aeadae',GradientType=0 ); /* IE6-9 */-->
<!--text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);-->
<!--padding: 6px 0;-->
<!--}-->

<!--@-webkit-keyframes preview {-->
<!--25% { margin-top: -60px; }-->
<!--75% { margin-top: -30px; }-->
<!--}-->

<!--@-moz-keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }-->
<!--@-o-keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }-->
<!--@keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }-->

<!--preview:before {-->
<!--content: "";-->
<!--background: #382c52;-->
<!--width: 160px;-->
<!--height: 160px;-->
<!--position: absolute;-->
<!--top: 50%;-->
<!--left: 50%;-->
<!--margin-top: -80px;-->
<!--margin-left: -80px;-->
<!--z-index: 8888;-->
<!--border-radius: 50%;-->
<!--}-->

<!--preview:after {-->
<!--content: "";-->
<!--width: 90px;-->
<!--height: 90px;-->
<!--position: absolute;-->
<!--top: 50%;-->
<!--left: 50%;-->
<!--margin-top: -45px;-->
<!--margin-left: -45px;-->
<!--z-index: 8888;-->
<!--border-radius: 50%;-->
<!--background: url(../img/mouse.png) 0px 0px no-repeat;-->
<!--background-size: contain;-->

<!---webkit-animation: preview 0.7s; /* Safari 4+ */-->
<!---moz-animation: preview 0.7s; /* Fx 5+ */-->
<!---o-animation: preview 0.7s; /* Opera 12+ */-->
<!--animation: preview 0.7s; /* IE 10+ */-->

<!---webkit-animation-iteration-count: 3;-->

<!---webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);-->
<!---moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);-->
<!---o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);-->
<!--transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */-->
<!--}-->


<!--/*Experiment*/-->

<!--.listWork.opened .workContainer {-->
<!--position: relative;-->
<!--}-->

<!--.workContainer .imgWork{-->
<!--position: absolute;-->
<!--bottom: 0px;-->
<!--right: 32px;-->
<!--}-->

<!--.listWork.opened .workContainer .imgWork {-->
<!--bottom: 0px;-->
<!--right: 0px;-->
<!--}-->

<!--.listWork .workContainer .imgWork img{-->
<!--width: 80px;-->
<!--}-->

<!--.listWork.opened .workContainer .imgWork img{-->
<!--width: 45px;-->
<!--}-->

<!--.listWork > .selected.opened > .workContainer > .imgWork img{-->
<!--width: 90px;-->
<!--}-->

<!--.listWork.opened .overlayinfo {-->
<!--border: none;-->
<!--}-->

<!--.listWork.opened .overlayinfo h4{margin-top: 2px;}-->
<!--.listWork.opened .eachWork.selected .overlayinfo h4{margin-top: 21px;}-->
<!--.listWork.opened .overlayinfo h6{margin-bottom: -4px;}-->

<!--/*-->
<!--Works page-->
<!--*/-->

<!--.works-page .preview {-->
<!--display: block;-->
<!--background: url(../img/preview.png) 4px 25px no-repeat;-->
<!--width: 373px;-->
<!--height: 313px;-->
<!--background-size: 100%;-->
<!--position: relative;-->
<!--margin: 0 auto;-->
<!--}-->

<!--.works-page .preview .preview--in {-->
<!--position: absolute;-->
<!--top: 48px;-->
<!--left: 62px;-->
<!--width: 256px;-->
<!--height: 160px;-->
<!--overflow: hidden;-->
<!--}-->

<!--.works-page .preview .preview--in:before {-->
<!--background: url("../img/contentLoading.gif");-->
<!--width: 32px;-->
<!--height: 32px;-->
<!--position: absolute;-->
<!--top: 64px;-->
<!--left: 50%;-->
<!--margin-left: -16px;-->
<!--content: "";-->
<!--z-index: -1;-->
<!--}-->

<!--.works-page .preview h4{-->
<!--color: #595089;-->
<!--width: 100%;-->
<!--text-align: center;-->
<!--position: absolute;-->
<!--top: 231px;-->
<!--}-->
<!--.works-page .preview h6{-->
<!--font-size: 12px;-->
<!--width: 100%;-->
<!--text-align: center;-->
<!--position: absolute;-->
<!--top: 267px;-->
<!--}-->