<div class="container">
<h3>Latest projects</h3>
<div class="listWork">

    <div ng-repeat="work in works" class="col-md-4 col-sm-4 col-xs-12">
        <div class="workContainer poplink">
            <a href="#/work/{{work.url}}">
                <div class="imgWork"><img src="./images/works/{{work.url}}_mini.png" alt=""></div>
                <div class="overlayinfo">
                    <h4>{{work.title}}</h4>
                    <h6>{{work.label}}</h6>
                </div>
            </a>
        </div>
    </div>

</div>
</div>