<div class="container feedback">
    <div class="col-md-8 feedback_create-project">
        <div class="feedback_title feedback_create-project_title">
            <span class="feedback_title_number">1</span>
            <span class="feedback_title_text">Create a project</span>
        </div>
        <div class="create-project_form">
            <form action="">
            <div class="col-md-12">
                <div class="create-project_form_title">
                    Contact Info
                    <span class="create-project_form_title--required">* Required</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="create-project_form_input-container">
                    <span class="create-project_form_label">E-mail</span>
                    <input class="create-project_form_input" placeholder="info@example.com" type="text"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-project_form_input-container">
                    <span class="create-project_form_label">First Name</span>
                    <input class="create-project_form_input" placeholder="Ivan" type="text"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create-project_form_input-container">
                    <span class="create-project_form_label">Phone</span>
                    <input class="create-project_form_input" placeholder="+7 (987) 000-12-34" type="text"/>
                </div>
            </div>

            <div class="col-md-12">
                <div class="create-project_form_title">
                    Project Details
                </div>
            </div>
                <div class="col-md-4">
                    <div class="create-project_form_input-container">
                        <span class="create-project_form_label">E-mail</span>
                        <input class="create-project_form_input" placeholder="info@example.com" type="text"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="create-project_form_input-container">
                        <span class="create-project_form_label">First Name</span>
                        <input class="create-project_form_input" type="text"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="create-project_form_input-container">
                        <span class="create-project_form_label">Phone</span>
                        <input class="create-project_form_input" type="text"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="create-project_form_button">Send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 feedback_hire-me">
        <div class="feedback_title feedback_hire-me_title">
            <span class="feedback_title_text">Hire me</span>
            <span class="feedback_title_number">2</span>
        </div>
    </div>
</div>