<div class="container feedback">

    <h3>Want to hire me or just say hi?</h3>

    <form method="post" action="send_email.php" class="ng-pristine ng-valid">

        <div class="col-md-6">
            <!-- <p>I’m looking for projects for August - September 2014 (and beyond!)</p> -->

            <h4>Have a project in mind?</h4>

            <p>Please provide as much information as possible — budget, requirements, deadline — so I can answer you as quickly as possible.</p>

            <div class="subFeedback">
                <p>Or if you prefer using standard e-mail form, you can directly send your mail to <a href="mailto:toropanov@gmail.com">toropanov@gmail.com</a> instead of using feedback form.</p>
                <div class="feedback--phone">+7 (915) 131-33-45</div>
            </div>

            <p>
            <ul class="order__social--icons">
                <li class="title">Social accounts:</li>
                <li class="odesk"><a target="_blank" href="http://odesk.com/users/~01151bc833c812c678"></a></li>
                <li class="linkedin"><a target="_blank" href="http://linkedin.com/profile/view?id=176891172"></a></li>
                <li class="brainstorage"><a target="_blank" href="http://brainstorage.me/tanotify/"></a></li>
                <li class="github"><a target="_blank" href="http://github.com/tanotify/"></a></li>
                <li class="skype"><a href="skype:toropanov.com"></a></li>
            </ul>
            </p>

        </div>

        <div class="col-md-6 formOrder">

            <div class="form-group">
                <input name="email" type="email" class="form-control" id="inputPassword3" placeholder="E-mail">
            </div>

            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Enter your message here" rows="10"></textarea>
            </div>

            <button type="submit" class="btn-works center-block">Send message</button>
        </div>

    </form>
</div>

<script>
    $(document).ready(function() {

        //if submit button is clicked
        $('button[type=submit]').click(function () {

            //Get the data from all the fields
            var name = $('input[name=name]');
            var email = $('input[name=email]');
            var message = $('textarea[name=message]');

            //Simple validation to make sure user entered something
            //If error found, add hightlight class to the text field
            if (name.val()=='') {
                name.parent().addClass('has-error');
                return false;
            } else name.parent().removeClass('has-error');

            if (email.val()=='') {
                email.parent().addClass('has-error');
                return false;
            } else email.parent().removeClass('has-error');

            if (message.val()=='') {
                message.parent().addClass('has-error');
                return false;
            } else message.parent().removeClass('has-error');

            //organize the data properly
            var data = 'name=' + name.val() + '&email=' + email.val() + '&message='  + encodeURIComponent(message.val());

            //disabled all the text fields
            $('.text').attr('disabled','true');

            //show the loading sign
            $('.btn-works').addClass('loadingBtn').html('Sending');

            //start the ajax
            $.ajax({
                //this is the php file that processes the data and send mail
                url: "send_email.php",

                //GET method is used
                type: "GET",

                //pass the data
                data: data,

                //Do not cache the page
                cache: false,

                //success
                success: function (html) {

                    //if process.php returned 1/true (send mail success)
                    if (html==1) {
                        //hide the form
//                        $('form').fadeOut('slow');

                        //show the success message
//                        $('.done').fadeIn('slow');
                        $('.btn-works').removeClass('loadingBtn').removeClass('loadingBtn').addClass('successBtn').html('Thank you').attr('disabled', true);

                        //if process.php returned 0/false (send mail failed)
                    } else {
                        $('.btn-works').removeClass('loadingBtn').addClass('notSentBtn').html('Try again');
                    }
                }
            });

            //cancel the submit button default behaviours
            return false;
        });
    });
</script>