<div class="form-horizontal">

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Border-radius</label>
        <div class="col-sm-8">
            <input ng-model="buttonStyle.border" ng-change="updateButtonStyle(buttonStyle)" type="range" min="0" max="100" step="1" value="50">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">Box-shadow</label>
        <div class="col-sm-8">
            <a href="">1px</a> <a href="">2px</a> <a href="">#ff00ff</a>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">Text-shadow</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">Button label</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>

    <div class="form-group text-center">
        <a href="">Show more</a>
    </div>
    
</div>