@import "icons/*.png";
$icons: sprite-map("icons/*.png");

.feedback {
    margin-top: 70px;
    margin-bottom: 50px;
    min-height: 794px;
}

.feedback > div {
    position: absolute;
    top: 0;
    opacity: .5;
    width: 60%;
    height: 100%;
    z-index: 1;
}

.feedback > div:hover {
    opacity: .8;
}

.feedback_shadow {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.feedback_create-project_shadow { right: -150px; }
.feedback_hire-me_shadow { left: -150px; }

.feedback_shadow:before {
    content: '';
    position: absolute;
    top: 100px;
    height: 100%;
    width: 0px;
    z-index: 1;
    -webkit-box-shadow: 0 0px 89px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0px 89px 11px rgba(0,0,0,0.75);
    box-shadow: 0 0px 89px 11px rgba(0,0,0,0.75);
}

.feedback_shadow:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 0;
    border-bottom: 1000px solid #F5F5F5;
    width: 150px;
    z-index: 2;
}

.feedback_create-project {
    left: 0;
}

.feedback_hire-me {
    right: 0;
}

.feedback_div-active {
    opacity: 1!important;
    z-index: 2!important;
}

.feedback_create-project_shadow:before {
    right: 84px;
}

.feedback_create-project_shadow:after {
    right: 0px;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
}

.feedback_hire-me_shadow:before {
    left: 84px;
}

.feedback_hire-me_shadow:after {
    left: 0px;
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
}

.feedback_div-active {
    background: whitesmoke;
}

.feedback_title {
    margin: 0 16px 35px;
}

.feedback_title_number {
    background: #322569;
    color: #FFF;
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}


.feedback_title_number:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 27px solid #322569;
}

.feedback_title_number:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border-left: 0px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 27px solid #322569;
}

.feedback_title_text {
    font-size: 26px;
    vertical-align: middle;
    padding: 0 10px;
}

.feedback_hire-me_title {
    text-align: right;
}

.create-project_form {
    margin: 0px -5px;
}

.create-project_form_title {
    font-size: 18px;
    padding: 20px 0 15px;
    margin: 0 -11px;
}

.create-project_form_title--required {
    font-size: 14px;
    color: #322569;
    float: right;
    line-height: 24px;
}

.create-project_form_input-container {
    background: #FFF;
    @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
    font-size: 16px;
    border: 1px solid #ADADAD;
    margin: 5px -10px;
    padding: 5px 10px;
    border-radius: 4px;
}

.create-project_form_label {
    font-size: 14px;
}

.create-project_form_input {
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 5px 0;
    outline: none;
    border-bottom: 1px solid transparent;
    color: #514196;
}

.create-project_form_input:hover {
    border-bottom: 1px dotted #BDBDBD;
}

.create-project_form_input:focus {
    border-bottom: 1px solid #322569;
}

.create-project_form_button {
    background: #322569;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 27px;
    border-radius: 4px;
    float: right;
    margin: 10px -10px;
}

.hire-me_download-CV {
    margin: 0 auto;
    display: block;
    width: 117px;
    text-align: center;
    text-decoration: none;
    color: #484848;
    font-weight: bold;
}

.feedback_hire-me_phone {
    font-size: 23px;
    color: #595089;
}


.formOrder {
    position: relative;
}

.formOrder:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: whitesmoke;
    z-index: 2;
    opacity: 0.7;
}

.formOrder:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -24px;
    content: 'Form is still under construction, please send message on e-mail or call me';
    color: rgb(173, 95, 95);
    z-index: 3;
    font-size: 22px;
    width: 380px;
    text-align: center;
}

form {} .form-group {
            position: relative;
        }
.form-group.required:before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 4px;
    height: 4px;
    background: red;
}
.form .done {
    display: none;
}
.form .done .plane {
    background: url(/assets/img/drafts/plane.png) no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -64px;
}
.experience h3 {
    width: 100%!important;
}
.form .col-md-4 .form-group {
    margin-right: 20px;
}
.form-control {
    height: 52px;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-color: #ADADAD;
    width: 100%;
    margin-bottom: 12px;
}
.form-control:focus, .form-control:hover {
    border-color: #624592;
}
.form-control textarea {
    resize: vertical;
}
.form-control:before {
    content: "sf"!important;
    position: absolute;
}
label {
    font-size: 14px;
    color: #624592;
}

textarea.form-control {
    height: auto;
}