#footer {
    position: relative;
    background: url(/assets/img/background.jpg) bottom repeat-x;
    overflow: hidden;
    -webkit-animation: opacity 3s;
    -moz-animation: opacity 3s;
    -o-animation: opacity 3s;
    animation: opacity 3s;
}
#footer:before {
    position: absolute;
    top: -65px;
    right: 30%;
    width: 2000px;
    height: 100px;
    content: "";
    background: #F5F5F5;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
}
#footer:after {
    position: absolute;
    top: -48px;
    left: 70%;
    width: 2000px;
    height: 100px;
    content: "";
    background: #F5F5F5;
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
}

.footer_friend-list {
    font-size: 20px;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
}

.footer_friend-list_item {
    display: inline-block;
    margin-right: 20px;
}

.footer_friend-list a {
    color: #81C4FF;
    text-decoration: none;
}
.footer_friend-list a:hover { color: #F57070; }