.feedback--phone {
    font-size: 23px;
    color: #595089;
}

.formOrder {
    position: relative;
}

.formOrder:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: whitesmoke;
    z-index: 2;
    opacity: 0.7;
}

.formOrder:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -24px;
    content: 'Form is still under construction, please send message on e-mail or call me';
    color: rgb(173, 95, 95);
    z-index: 3;
    font-size: 22px;
    width: 380px;
    text-align: center;
}

.order__social--icons {
    padding: 0;
}

.order__social--icons > li {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-size: cover!important;
    margin-right: 1px;
}

.order__social--icons > li > a {
    display: block;
    width: 36px;
    height: 36px;
}

.order__social--icons > .title {
    vertical-align: top;
    line-height: 36px;
    width: 127px;
    font-size: 16px;
}

.order__social--icons > .odesk {
    background: url("/assets/img/social-icons/odesk.png");
    width: 35px;
    height: 35px;
}

.order__social--icons > .linkedin {
    background: url("/assets/img/social-icons/linkedin.png");
}

.order__social--icons > .brainstorage {
    background: url("/assets/img/social-icons/brainstorage.png");
    border-radius: 100%;
    width: 33px;
    height: 33px;
}

.order__social--icons > .github {
    background: url("/assets/img/social-icons/github.png");
}

.order__social--icons > .skype {
    background: url("/assets/img/social-icons/skype.png");
}

.order__social--icons > .codepen {
    background: url("/assets/img/social-icons/codepen.png");
}