<h3>Technical Skills</h3>
<div class="hidden-xs hidden-sm container center-block skills">

  <div class="col-md-3 text-center">
    <img src="img/icons/design.png" alt="" class="center-block">
    <h4>Design</h4>
    <ul class="decription">
      <li>Photoshop</li>
      <li>Sketch</li>
    </ul>
  </div>

  <div class="col-md-3 text-center">
    <img src="img/icons/front-end.png" alt="" class="center-block">
    <h4>Front-end Development</h4>
    <ul class="decription">
      <li>AngularJS</li>
      <li>Bootstrap</li>
      <li>GitHub</li>
      <li>jQuery</li>
      <li>LESS</li>
      <li>Handlebars JS</li>
      <li>Grunt</li>
    </ul>
  </div>

  <div class="col-md-3 text-center">
    <img src="img/icons/back-end.png" alt="" class="center-block">
    <h4>Back-end Development</h4>
    <ul class="decription">
      <li>WordPress</li>
      <li>ModX</li>
    </ul>
  </div>

  <div class="col-md-3 text-center">
    <img src="img/icons/other.png" alt="" class="center-block">
    <h4>More</h4>
    <ul class="decription">
      <li>SEO</li>
    </ul>
  </div>

</div>
<br>
<div class="container center-block">
  <div class="col-md-6">

    <p>
      <br>Since my schooldays I have been building remarkable, responsive websites for both desktop and mobile. I always try to keep up-to-date with the latest technologies and techniques such as HTML5, CSS3 and Javascript (particularly with jQuery).
      <br>
      <br>Also I have experience in Website SEO, Web Design and Back-end development.
    </p>


    <h4>Software</h4>
    <p>
      For now mostly I use Windows as a main Operation System because of rules of the company where I work, but fortunately at home I can keep using my favorite OS X.
      <br>
      <br>In the list of "must-have" cross-platform software which I use daily Sublime Text 2, PhotoShop CC, Wunderlist, Evernote.
    </p>

    <h4>Interests</h4>
    <p>
      City bicycling, roller-skating, RC drifting, snowboarding and skiing (both are completely different in terms of technique but interesting to ride).
    </p>
  </div>

  <div class="col-md-6">
    <div class="timeline">
      <div class="item">
        <div class="icon"></div>
        <h4>Peredovik.ru
          <span>– Front-end Developer</span>
        </h4>
        <div class="description">
          For almost a year I became familiar with such technologies as jQuery UI and CSS Animation. In addition it is my first experience of working with big commercial projects.
        </div>
        <div class="date">
          <span class="workIcon">Full-time work</span>October 2013 - Now</div>
      </div>
      <div class="item">
        <div class="icon"></div>
        <h4>MIREA
          <span>– Information Technology</span>
        </h4>
        At the end of July 2009 I have earned a Bachelor's Degree in the Information Technology. Full name of the universitet is Moscow State Institute of Radio Engineering, Electronics and Automation.
        <div class="date">
          <span class="workIcon">Learning</span>2009 - 2013</div>
      </div>
      <div class="item">
        <div class="icon"></div>
        <h4>Summer school
          <span>– London School of Business & Finance</span>
        </h4>
        <div class="date">
          <span class="workIcon">Learning</span>July 2012</div>
      </div>
      <div class="item">
        <div class="icon"></div>
        <h4>English course
          <span>– EC School</span>
        </h4>
        <div class="date">
          <span class="workIcon">Learning</span>July 2013</div>
      </div>
    </div>
  </div>

</div>
<br>

<div class="works container-full">
  <div class="container">

    <h3>Latest projects</h3>

    <div class="listWork">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="workContainer">
          <a href="works/stopsapoi.html">
            <div class="imgWork"><img src="works/stopsapoi_mini.png" alt=""></div>
            <div class="overlayinfo">
              <h4>Medical center</h4>
              <h6>Web Design</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="workContainer">
          <a href="works/ridesnow.html">
            <div class="imgWork ridesnow"><img src="works/ridesnow_mini.png" alt=""></div>
            <div class="overlayinfo">
              <h4>Ridesnow</h4>
              <h6>Project</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="workContainer">
          <a href="works/iblog.html">
            <div class="imgWork"><img src="works/iblog_mini.png" alt=""></div>
            <div class="overlayinfo">
              <h4>iBlog</h4>
              <h6>Project</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="workContainer">
          <a href="works/sharecirle.html">
            <div class="overlayinfo">
              <h4>ShareCircle</h4>
              <h6>Script</h6>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>


  <script>
  $(document).ready(function() {
    $('.listWork a').magnificPopup({
      type: 'ajax',
      overflowY: 'scroll',
      alignTop: true,
      closeOnContentClick: true,
      showCloseBtn: false
    });

    $(".workContainer").hover(
      function() {
        $(this).addClass("hover");
      }, function() {
        $(this).removeClass("hover");
      }
    );

    $(".listWork .overlayinfo").hover(
      function() {
        $(this).parent().addClass("hover");
      }, function() {
        $(this).parent().removeClass("hover");
      }
    );

  });
  </script>

  <div class="container feedback">

    <h3>Want to hire me or just say hi?</h3>

    <form method="post" action="send_email.php">

      <div class="col-md-6">
        <p>I’m looking for projects for August - September 2014 (and beyond!)</p>

        <h4>Have a project in mind?</h4>

        <p>Please provide as much information as possible — budget, requirements, deadline — so I can answer you as quickly as possible.</p>

        <div class="subFeedback">
          <p>Or if you prefer using standard e-mail form, you can directly send your mail to <a href="mailto:info@toropanov.com">toropanov@gmail.com</a> instead of using feedback form.</p>
        </div>

      </div>

      <div class="col-md-6">

        <div class="form-group">
          <input name="email" type="email" class="form-control" id="inputPassword3" placeholder="E-mail">
        </div>

        <div class="form-group">
          <textarea name="message" class="form-control" placeholder="Enter your message here" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-default center-block">Send message</button>
      </div>

    </form>
  </div>
</div>

</div>

<script>
$(document).ready(function() {

  $('button[type=submit]').click(function() {

    var email = $('input[name=email]');
    var message = $('textarea[name=message]');

    var data = 'email=' + email.val() + '&message=' + encodeURIComponent(message.val());

    if (email.val() == '') {
      email.parent().addClass('has-error');
      return false;
    } else email.parent().removeClass('has-error');

    if (message.val() == '') {
      message.parent().addClass('has-error');
      return false;
    } else message.parent().removeClass('has-error');

    // $('.text').attr('disabled','true');

    $('button[type=submit]').html('Sending').button('refresh').addClass('bloading');

    $.ajax({
      url: "send_email.php",
      type: "GET",
      data: data,
      cache: false,

      success: function(html) {

        if (html == 1) {
          setTimeout(function() {
            $('button[type=submit]').html('Delivered').button('refresh').removeClass('bloading').css('background', '#539714');
          }, 2000);
        } else {
          alert('Sorry, unexpected error. Please try again later22.');
        }
      }
    });

    //cancel the submit button default behaviours
    return false;
  });
});
</script>
