html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-y: hidden;
}
body {
    overflow: scroll;
    overflow-x: hidden;
    min-width: 400px;
}
p {
    line-height: 25px;
    font-size: 15px;
}

h3 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}
h3:after {
    width: 60px;
    height: 3px;
    content: "";
    background: #65537D;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -30px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 3px;
}
::selection {
    background: #FAF1B5;
    /* Safari */
}
::-moz-selection {
    background: #FAF1B5;
    /* Firefox */
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*
  FINISH
  Header on main page
*/

#header .nav_top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#header .nav_top ul > li {
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}
#header .nav_top ul > li > a {
    vertical-align: middle;
    text-decoration: none;
    margin-left: 50px;
    color: #ffffff!important;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    outline: none;
}
#header .nav_top ul > li.active > a {
    border-bottom: 4px solid #FFF;
    cursor: default;
    color: white;
}
#header .title {
    font: 72px titilliumregular;
    color: #fff;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 42px;
}
#header img {
    width: 45px;
    top: 7px;
    position: relative;
}
#welcome a {
    color: #fff;
    text-decoration: none;
}
#welcome a:hover {
    text-decoration: underline;
}
/*
  Content part
*/

#content {
    height: 300px;
    overflow: hidden;
}

#content:before {
    background: url(../img/contentLoading.gif);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 440px;
    left: 50%;
    margin-left: -16px;
    opacity: 1;
    content: "";
}

#content > div { opacity: 0; }

.loaded #content {
    height: auto;
    overflow: visible;
}
.loaded #content > div {opacity: 1;}
.loaded #content:before { display: none; }

/*footer*/

#footer {
    position: relative;
    height: 110px;
    background: url(../img/background.jpg) bottom repeat-x;
    overflow: hidden;
    -webkit-animation: opacity 3s;
    /* Safari 4+ */
    -moz-animation: opacity 3s;
    /* Fx 5+ */
    -o-animation: opacity 3s;
    /* Opera 12+ */
    animation: opacity 3s;
    /* IE 10+ */
}
#footer:before {
    position: absolute;
    top: -65px;
    right: 30%;
    width: 2000px;
    height: 100px;
    content: "";
    background: #F5F5F5;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
}
#footer:after {
    position: absolute;
    top: -48px;
    left: 70%;
    width: 2000px;
    height: 100px;
    content: "";
    background: #F5F5F5;
    transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.6);
}
.upButton {
    text-align: center;
    margin: 54px 0 18px 0;
    background: #FFF;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
    padding: 1px 9px;
    display: inline-block;
}
/*.upButton:before {
font: 17px FontAwesome;
content: "\f106";
position: absolute;
top: -15px;
left: 53px;
}*/

/*
  Feedback
*/

.feedback h3 {
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    width: 350px;
    color: #595089;
}
.feedback h3:after {
    display: none;
}
.contact-form {
    font-size: 16px;
    line-height: 23px;
}
.contactWrapper {
    background: white;
    padding: 20px;
}
.has-error input {
    -webkit-animation: wrong-password 0.1s;
    /* Safari 4+ */
    -moz-animation: wrong-password 0.1s;
    /* Fx 5+ */
    -o-animation: wrong-password 0.1s;
    /* Opera 12+ */
    animation: wrong-password 0.1s;
    /* IE 10+ */
    animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    /*Safari and Chrome*/
    -webkit-transition: all 100ms cubic-bezier(0.000, 0.320, 0.450, 1);
    /* older webkit */
    -webkit-transition: all 100ms cubic-bezier(0.000, 0.320, 0.450, 1.260);
    -moz-transition: all 100ms cubic-bezier(0.000, 0.320, 0.450, 1.260);
    -o-transition: all 100ms cubic-bezier(0.000, 0.320, 0.450, 1.260);
    transition: all 100ms cubic-bezier(0.000, 0.320, 0.450, 1.260);
    /* custom */
}
.contactWrapper .description ul {
    list-style: none;
    padding: 0;
}
.contactWrapper .description li {
    display: inline-block;
    font-size: 28px;
    margin-right: 6px;
    height: 32px;
    width: 32px;
}
.contactWrapper .description .twitter {
    background: url(../img/icons/twitter.png) no-repeat;
}
.contactWrapper .description .skype {
    background: url(../img/icons/skype.png) no-repeat;
}
.contactWrapper .description .facebook {
    background: url(../img/icons/facebook.png) no-repeat;
}
.contactWrapper .description .github {
    background: url(../img/icons/github.png) no-repeat;
}
form {} .form-group {
            position: relative;
        }
.form-group.required:before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    width: 4px;
    height: 4px;
    background: red;
}
.form .done {
    display: none;
}
.form .done .plane {
    background: url(../img/plane.png) no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -64px;
}
.experience h3 {
    width: 100%!important;
}
.form .col-md-4 .form-group {
    margin-right: 20px;
}
.form-control {
    height: 52px;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    border-color: #ADADAD;
}
.form-control:focus, .form-control:hover {
    border-color: #624592;
}
.form-control textarea {
    resize: vertical;
}
.form-control:before {
    content: "sf"!important;
    position: absolute;
}
label {
    font-size: 14px;
    color: #624592;
}
/*Loader*/

.loader {
    width: 100px;
    height: 100px;
    background: url(../img/ajax-loader.gif) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: none;
}
preview img {
    padding: 100px 0;
    -webkit-animation: works 0.7s;
    /* Safari 4+ */
    -moz-animation: works 0.7s;
    /* Fx 5+ */
    -o-animation: works 0.7s;
    /* Opera 12+ */
    animation: works 0.7s;
    /* IE 10+ */
}
figcaption {
    display: none;
}

/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}
/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.3s ease-out;
}
/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


.pageAjaxContainer {
    max-width: 900px;
    margin: 20px auto;
    background: white;
}

.pageAjaxContainer h3 {
    padding-top: 20px;
}

.pageAjaxContainer img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media (max-width: 530px) {
    #header .headerTitle .logotype h1 {
        font-size: 38px;
    }

    #header .headerTitle .logotype h2 {
        font-size: 19px;
    }

    #header .headerTitle {
        height: 161px;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: -12px;
    }
}