.works #header {
    /*margin-top: -170px;*/
}

.listWork.selected {
    -webkit-animation: showWork 1s;
    -moz-animation: showWork 1s;
    -o-animation: showWork 1s;
    animation: showWork 1s;
}

/*
    Each of works - Just gallery
    */

.eachWork {
    cursor: pointer;
}

.eachWork .preview {
    display: none;
}

.eachWork .description {
    display: none;
}

/*
    Each of works - Selected
    */

.eachWork.selected {
    cursor: default;
}

.eachWork.selected .overlayinfo {
    /*background: #41367C;*/
    background: -webkit-linear-gradient(281deg,#41367C 40%,#66609D 100%);
    background: linear-gradient(169deg,#41367C 40%, #66609D 100%);
    background-color: #41367C;
    margin: -10px;
    height: 310px;
}

.eachWork.selected .overlayinfo h4{
    color: #ffffff;
    font-size: 61px;
}

.eachWork.selected .overlayinfo h6{
    background: rgb(218, 218, 218);
    display: inline;
    padding: 3px 7px;
    border-radius: 4px;
}

.eachWork.selected .preview {
    display: block;
    background: url(../img/preview.png) no-repeat;
    width: 600px;
    height: 386px;
    background-size: 100%;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -300px;
}

.eachWork.selected .preview .preview--in {
    position: absolute;
    top: 38px;
    left: 93px;
    width: 413px;
    height: 257px;
    overflow: hidden;
}

.eachWork.selected .description {
    display: block;
    position: absolute;
    top: 490px;
    width: 100%;
    left: 0px;
    padding: 38px 198px 38px 38px;
    font-size: 18px;
    height: 280px;
    line-height: 30px;
}

/*
    Each of works - Opened
    */

.eachWork.opened .workContainer {
    border-color: #CD9F27;
    position: relative;
}

.eachWork.opened .overlayinfo {
    border-color: #CD9F27;
}

.eachWork.opened .workContainer:before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    background: url("../img/okay.png");
}

.eachWork.selected.opened .workContainer {
    border-color: #BEBACF;
}

.eachWork.selected.opened .workContainer:before {
    display: none;
}

.eachWork.selected.opened .workContainer .overlayinfo{
    border: none;
}

/*
    Loading
    */

.works .loadingWork {
    background: url("../img/contentLoading.gif");
    width: 32px;
    height: 32px;
    position: absolute;
    top: 298px;
    left: 50%;
    margin-left: -16px;
}

.works .listWork > .selected {
    width: 66.66666667%;
}

.works .listWork > .selected > .workContainer {
    height: 753px;
}

#portfolio {
    background: #f4f4f4;
}

.slidePreview {
    text-align: center;
    border: 1px solid #cfcfcf;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
    width: 1026px;
}

.slidePreview > .title{
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #dddddd 0%, #aeadae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#aeadae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dddddd 0%,#aeadae 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dddddd 0%,#aeadae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#aeadae',GradientType=0 ); /* IE6-9 */
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
    padding: 6px 0;
}

@-webkit-keyframes preview {
    25% { margin-top: -60px; }
    75% { margin-top: -30px; }
}

@-moz-keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes preview { 0% {opacity: 0;} 100% {opacity: 1;} }

preview:before {
    content: "";
    background: #382c52;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    z-index: 8888;
    border-radius: 50%;
}

preview:after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    z-index: 8888;
    border-radius: 50%;
    background: url(../img/mouse.png) 0px 0px no-repeat;
    background-size: contain;

    -webkit-animation: preview 0.7s; /* Safari 4+ */
    -moz-animation: preview 0.7s; /* Fx 5+ */
    -o-animation: preview 0.7s; /* Opera 12+ */
    animation: preview 0.7s; /* IE 10+ */

    -webkit-animation-iteration-count: 3;

    -webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}


/*Experiment*/

.listWork.selected .workContainer {
    margin-bottom: -62px;
}

.listWork.selected .workContainer .imgWork {
    display: none;
}

.listWork.selected .overlayinfo {
    border: none;
}

.listWork.selected .overlayinfo h4{margin-top: 2px;}
.listWork.selected .overlayinfo h6{margin-bottom: -4px;}