@import "icons/*.png";
$icons: sprite-map("icons/*.png");

.widget_social-icons {
  margin: 39px 0 20px;
  text-align: center;
}

.widget_social-icons_title {
  vertical-align: top;
  line-height: 36px;
  font-size: 16px;
  display: inline-block;
  padding-right: 10px;
}

.widget_social-icons_item {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 2px;
  border-radius: 100%;
}

.widget_social-icons_item-odesk {
  background: sprite($icons, odesk) no-repeat;
}

.widget_social-icons_item-linkedin {
  background: sprite($icons, linkedin) no-repeat;
}

.widget_social-icons_item-brainstorage {
  background: sprite($icons, brainstorage) no-repeat;
}

.widget_social-icons_item-github {
  background: sprite($icons, github) no-repeat;
}

.widget_social-icons_item-skype {
  background: sprite($icons, skype) no-repeat;
}

.widget_social-icons_item-codepen {
  background: sprite($icons, codepen) no-repeat;
}