// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin-bottom: 30px;
  padding: 5px;
  font-size: 0;
}

.post_thumbnail {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  height: 185px;
  margin-right: 15px;
  background-color: #DEDEDE;
  
  img {
    width: 100%;
    height: auto;
  }
}

.post_thumbnail-big {
  img {
    width: 100%;
    height: auto;
  }
}

.post_content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 245px);
  font-size: 16px;
  padding: 10px 0;
  height: 185px;
  box-sizing: border-box;
}

.post_title {
  font-size: 26px;
  padding-bottom: 10px;
}

.post_item_label {
  padding-left: 3px;
}

.post_meta_item, .post_item_label {
  vertical-align: middle;
  display: inline-block;
  font-size: 15px;
  color: #7D7D7D;
  margin-right: 10px;
}

.post_item_icon-like {
  width: 22px;
  height: 19px;
  // @include sprite_icon(like);
  display: inline-block;
  vertical-align: middle;
}

.post_item_icon-tag {
  width: 20px;
  height: 19px;
  // @include sprite_icon(tag);
  display: inline-block;
  vertical-align: middle;
}

.post_text {
  line-height: 22px;
  padding-bottom: 10px;
  min-height: calc(100% - 31px);
}

.post_fulltext {
  padding: 20px;
  line-height: 24px;
}

.post_title_wrap {
  background: url("post_title_bg.png");
  padding: 20px;
}
