.sidebar_item {
  margin-bottom: 20px;
}

.sidebar_nav_item {
  border-top: 1px solid #D3D3D3;
  padding: 10px 0;
  font-size: 0;
  
  &:first-child { border: none; }
}

.sidebar_nav_link, .sidebar_nav_count {
  display: inline-block;
  vertical-align: middle;
}

.sidebar_nav_link {
  width: calc(100% - 40px);
  font-size: 16px;
}

.sidebar_nav_count {
  width: 40px;
  font-size: 16px;
  text-align: right;
}

.sidebar_about {
  padding: 20px;
  text-align: center;
}

.sidebar_about_title {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.sidebar_about_text {
  font-size: 13px;
  padding-bottom: 20px;
}

.sidebar_about_avatar {
  padding-bottom: 20px;
}

.about_icons_item-fb { background: image_url("icons-2x/social-fb.png"); }
.about_icons_item-twitter { background: image_url("icons-2x/social-twitter.png"); }

.about_icons_item {
  width: 36px;
  height: 36px;
  margin: 0 2px;
  display: inline-block;
  background-size: contain;
}
