<div class="row">
  <div class="col-md-6 about__text">
    <p><slider images="images" />
      Since my schooldays I have been building remarkable, responsive websites for both desktop and mobile. I always try to keep up-to-date with the latest technologies and techniques such as HTML5, CSS3 and Javascript (particularly with jQuery).
    </p>
    <p>
      Also I have experience in Website SEO, Web Design and Back-end development.
    </p>

    <h4>Software</h4>

    <p>
      For now mostly I use Windows as a main Operation System because of rules of the company where I work, but fortunately at home I can keep using my favorite OS X.
      <br>
      <br>In the list of "must-have" cross-platform software which I use daily Sublime Text 2, PhotoShop CC, Wunderlist, Evernote.
    </p>

    <h4>Interests</h4>
    <p>
      City bicycling, roller-skating, RC drifting, snowboarding and skiing (both are completely different in terms of technique but interesting to ride).
    </p>
  </div>
  <div class="col-md-6">
    <div class="timeline">
        <div class="item">
            <div class="icon"></div>
            <h4>Peredovik.ru
                <span>– Front-end Developer</span>
            </h4>
            <div class="description">
                For almost a year I became familiar with such technologies as jQuery UI and CSS Animation. In addition it is my first experience of working with big commercial projects.
            </div>
            <div class="date">
                <span class="workIcon">Full-time work</span>October 2013 - Now</div>
        </div>
        <div class="item">
            <div class="icon"></div>
            <h4>MIREA
                <span>– Information Technology</span>
            </h4>
            At the end of July 2009 I have earned a Bachelor's Degree in the Information Technology. Full name of the universitet is Moscow State Institute of Radio Engineering, Electronics and Automation.
            <div class="date">
                <span class="workIcon">Learning</span>2009 - 2013</div>
        </div>
        <div class="item">
            <div class="icon"></div>
            <h4>Summer school
                <span>– London School of Business &amp; Finance</span>
            </h4>
            <div class="date">
                <span class="workIcon">Learning</span>July 2012</div>
        </div>
        <div class="item">
            <div class="icon"></div>
            <h4>English course
                <span>– EC School</span>
            </h4>
            <div class="date">
                <span class="workIcon">Learning</span>July 2013</div>
        </div>
    </div>
  </div>
</div>
