<h3>Technical Skills</h3>
<div class="hidden-xs hidden-sm container">

    <div class="col-md-3 block_skills_item">
        <img src="./assets/img/icons-about/design.png" alt="">
        <h4>Design</h4>
        <ul class="block_skills_item_description">
            <li>Photoshop</li>
            <li>Sketch</li>
        </ul>
    </div>

    <div class="col-md-3 block_skills_item">
        <img src="./assets/img/icons-about/front-end.png" alt="">
        <h4>Front-end Development</h4>
        <ul class="block_skills_item_description">
            <li>AngularJS</li>
            <li>jQuery</li>
            <li>Sass & LESS</li>
            <li>Handlebars JS</li>
            <li>Grunt, Gulp & Compass</gghli>
            <li>Require JS</li>
        </ul>
    </div>

    <div class="col-md-3 block_skills_item">
        <img src="./assets/img/icons-about/back-end.png" alt="">
        <h4>Back-end Development</h4>
        <ul class="block_skills_item_description">
            <li>PHP</li>
            <li>MySQL Databases</li>
            <li>Firebase Databases</li>
        </ul>
    </div>

    <div class="col-md-3 block_skills_item">
        <img src="./assets/img/icons-about/other.png" alt="">
        <h4>More</h4>
        <ul class="block_skills_item_description">
            <li>SEO</li>
        </ul>
    </div>

</div>
