<div id="content" class="content content-full">
  <div class="about container">
    <%= render 'skills' %>
    <%= render 'info' %>
  </div>

  <div class="works">
    <%= render 'latest_projects' %>
    <%= render 'order_form' %>
  </div>
</div>
