html, body { height: 100%; }

body {
  background: #F6F6F6;
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}

a {
  color: #157A15;
  text-decoration: none;
}

.wrapper {
  font-size: 0;
}

.main {
  padding: 50px 0px;
  min-height: calc(100% - 327px);
}

.content {
  font-size: 16px;
}

.sidebar {
  font-size: 16px;
}

.padding-20 { padding: 20px; }

.block-white {
  background-color: white;
  border: 1px solid #E7E7E7;
}

.main_title {
  font-size: 28px;
  padding-bottom: 36px;
  position: relative;
  margin-left: 15px;
}

.main_title:before {
  content: '';
  width: 78px;
  height: 3px;
  background-color: #4F824F;
  position: absolute;
  bottom: 33px;
}

.header {
  font-family: 'Open Sans';
  z-index: 999;
  position: relative;
  overflow: hidden;
  background: #659B8A image_url("header_bg.svg") top right repeat-x;
  text-align: center;
}

// .header:before {
//   position: absolute;
//   bottom: -13px;
//   right: 70%;
//   width: 2000px;
//   height: 100px;
//   content: "";
//   background: #F5F5F5;
//   -webkit-transform: rotate(5deg);
//   z-index: 5;
// }
// .header:after {
//   position: absolute;
//   bottom: -30px;
//   left: 30%;
//   width: 2000px;
//   height: 100px;
//   content: "";
//   background: #F5F5F5;
//   -webkit-transform: rotate(-4deg);
//   z-index: 5;
// }

.header_logo_wrap {
  display: inline-block;
  text-decoration: none;
  padding: 40px 0;
}

.header_logotype {
  width: 88px;
  height: 112px;
  background: image_url("icons-2x/logotype.png");
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.header_label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: white;
}

.header_animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header_animation:before {
  content: "";
  position: absolute;
  top: -129px;
  left: -20%;
  width: 120%;
  height: 516px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 4;
  -webkit-transform: rotate(-4deg);
  opacity: 0;
}

.header_nav {
  background-color: rgba(0, 0, 0, 0.07);
  text-align: left;
  
  .header_nav_item {
    display: inline-block;
    color: white;
    padding: 14px 20px 14px 20px;
  }
}

//.header_animation:after {
//    content: "0%";
//    position: absolute;
//    top: 68px;
//    left: 22px;
//    color: black;
//    font-size: 67px;
//    font-style: italic;
//    display: none;
//}

.header_title {
  position: relative;
  z-index: 6;
  font-size: 36px;
}

.header_subtitle { font-size: 18px; }

.footer {
  position: relative;
  background: #659B8A image_url("header_bg.svg") top right repeat-x;
  overflow: hidden;
  -webkit-animation: opacity 3s;
  -moz-animation: opacity 3s;
  -o-animation: opacity 3s;
  animation: opacity 3s;
  height: 70px;
}
// .footer:before {
//   position: absolute;
//   top: -65px;
//   right: 30%;
//   width: 2000px;
//   height: 100px;
//   content: "";
//   background: #F5F5F5;
//   -webkit-transform: rotate(-2deg);
// }
// .footer:after {
//   position: absolute;
//   top: -48px;
//   left: 70%;
//   width: 2000px;
//   height: 100px;
//   content: "";
//   background: #F5F5F5;
//   -webkit-transform: rotate(3deg);
// }

.footer_links {
  margin: 35px auto 5px;
  max-width: 980px;
  font-size: 13px;
  text-align: right;
  
  a {
    color: #FFF;
    margin-left: 15px;
    
    &:hover {text-decoration: underline;}
  }
}
