// 1

$text_color1: #424242;
$text_color2: #b2b2b2;
$text_color3: #666666;

@mixin sprite_icon($sprite) {
  $icons-spacing : 10px;
  $icons: sprite-map("icons/*.png", $spacing: $icons-spacing);
  $icons-2x: sprite-map("icons-2x/*.png", $spacing: $icons-spacing);
  
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: sprite-url($icons);
  background-position: sprite-position($icons, $sprite);

  @include hi-res{
    background-image: sprite-url($icons-2x);
    background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
    background-position: nth(sprite-position($icons-2x, $sprite), 1) / 2 nth(sprite-position($icons-2x, $sprite), 2) / 2;
  }
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin borderRadius($lt, $rt, $bl, $bt){
  -moz-border-radius: $lt $rt $bl $bt;
  -webkit-border-radius: $lt $rt $bl $bt;
  -khtml-border-radius: $lt $rt $bl $bt;
  border-radius: $lt $rt $bl $bt;
}

@mixin input-shadow {
  -webkit-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
}

@mixin text-shadow {
  text-shadow: 1px 1px 2px #7a7a7a;
}

@mixin hi-res{
  @media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) { @content; }
}

@mixin lt-filter($params){
  -webkit-filter: $params;
  -moz-filter: $params;
  -ms-filter: $params;
  -o-filter: $params;
  filter: $params;
  @include hi-res{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@mixin appearance($value){
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}

@mixin user-select($value){
  -webkit-user-select: $value;
  -mox-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin lt_opacity($alpha){
  $ie_opacity: 0;
  @if($alpha > 0){ $ie_opacity: $alpha * 100; }

  opacity: $alpha;
  filter: alpha(opacity=#{$ie_opacity});
}

@mixin boxShadow($shadow, $shadow1:false, $shadow2:false, $shadow3:false, $shadow4:false){
  $params: $shadow;
  @if($shadow1 != false){ $params: $shadow, $shadow1;
    @if($shadow2 != false){ $params: $shadow, $shadow1, $shadow2;
      @if($shadow3 != false){ $params: $shadow, $shadow1, $shadow2, $shadow3;
        @if($shadow4 != false){ $params: $shadow, $shadow1, $shadow2, $shadow3, $shadow4; }
      }
    }
  }
    
  box-shadow: $params;
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  -khtml-box-shadow: $params;
}

@mixin opacity($opacity) {
  $ms_opacity: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity=#{$ms_opacity});
}

@mixin user-select($type){
  -webkit-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}

@mixin card_shadow($sh1: 0.05, $sh2: 0.1, $r: 1px, $p: 0px){
  box-shadow: 0 $p + 1 $r rgba(0, 0, 0, $sh1),
        0 $p $r rgba(0, 0, 0, $sh2);  
}

@mixin gradient($cfrom, $cto, $imp:false, $img:false, $p1:0%, $p2:100%){
  @if($img){
    @if($imp==false){
      background: $cfrom $img;
      background: $img, -webkit-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background: $img,    -moz-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background: $img,     -ms-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background: $img,      -o-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background: $img,        -webkit-gradient(linear, left top, left bottom, color-stop($p1,$cfrom), color-stop($p2,$cto));
      background: $img,         linear-gradient(top,  $cfrom $p1, $cto $p2);
    }@else{
      background: $cfrom $img !important;
      background: $img, -webkit-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background: $img,    -moz-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background: $img,     -ms-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background: $img,      -o-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background: $img,        -webkit-gradient(linear, left top, left bottom, color-stop($p1,$cfrom), color-stop($p2,$cto)) !important;
      background: $img,         linear-gradient(top,  $cfrom $p1, $cto $p2) !important;
    }
  }@else{
    @if($imp==false){
      background: $cfrom;
      background: -webkit-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background:    -moz-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background:     -ms-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background:      -o-linear-gradient(top,  $cfrom $p1, $cto $p2);
      background:        -webkit-gradient(linear, left top, left bottom, color-stop($p1,$cfrom), color-stop($p2,$cto));
      background:         linear-gradient(top,  $cfrom $p1, $cto $p2);
    }@else{
      background: $cfrom !important;
      background: -webkit-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background:    -moz-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background:     -ms-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background:      -o-linear-gradient(top,  $cfrom $p1 $cto $p2) !important;
      background:        -webkit-gradient(linear, left top, left bottom, color-stop($p1,$cfrom), color-stop($p2,$cto)) !important;
      background:         linear-gradient(top,  $cfrom $p1, $cto $p2) !important;
    }
  }
}

@mixin h_gradient($cfrom, $cto, $imp:false, $img:false, $p1:0%, $p2:100%){
  @if($img){
    @if($imp==false){
      background: $cfrom $img;
      background: $img,-webkit-linear-gradient(left, $cfrom $p1, $cto $p2);
      background: $img,   -moz-linear-gradient(left, $cfrom $p1, $cto $p2);
      background: $img,    -ms-linear-gradient(left, $cfrom $p1, $cto $p2);
      background: $img,     -o-linear-gradient(left, $cfrom $p1, $cto $p2);
      background: $img,       -webkit-gradient(linear, left top, right top, color-stop($p1,$cfrom), color-stop($p2,$cto));
      background: $img,        linear-gradient(top right, $cfrom $p1, $cto $p2);
    }@else{
      background: $cfrom $img !important;
      background: $img,-webkit-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background: $img,   -moz-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background: $img,    -ms-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background: $img,     -o-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background: $img,       -webkit-gradient(linear, left top, right top, color-stop($p1,$cfrom), color-stop($p2,$cto)) !important;
      background: $img,        linear-gradient(top right, $cfrom $p1, $cto $p2) !important;
    }
  }@else{
    @if($imp==false){
      background: $cfrom;
      background: -webkit-linear-gradient(left, $cfrom $p1, $cto $p2);
      background:    -moz-linear-gradient(left, $cfrom $p1, $cto $p2);
      background:     -ms-linear-gradient(left, $cfrom $p1, $cto $p2);
      background:      -o-linear-gradient(left, $cfrom $p1, $cto $p2);
      background:        -webkit-gradient(linear, left top, right top, color-stop($p1,$cfrom), color-stop($p2,$cto));
      background:         linear-gradient(top right, $cfrom $p1, $cto $p2);
    }@else{
      background: $cfrom $img !important;
      background: -webkit-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background:    -moz-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background:     -ms-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background:      -o-linear-gradient(left, $cfrom $p1, $cto $p2) !important;
      background:        -webkit-gradient(linear, left top, right top, color-stop($p1,$cfrom), color-stop($p2,$cto)) !important;
      background:         linear-gradient(top right, $cfrom $p1, $cto $p2) !important;
    }

  }
}

@mixin lt_text_gradient($color_from, $color_to, $color:false){
  @if($color == false){
    color: $color_from;
  }@else{
    color: $color;
  }
  @include gradient($color_from, $color_to);
  @include text_fill_color(transparent);
  @include background_clip(text);

  .msie &{ background: none; }
}

@mixin text-gradient($color_from, $color_to){
  @include gradient($color_from, $color_to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin transition($transitions...){
  
  $result : false;
  
  @each $t in $transitions {
    @if($result == false){
      $result : "#{$t}";
    }@else{
      $result : "#{$result}, #{$t}";
    }
  }

  -webkit-transition: #{$result};
  -moz-transition: #{$result};
  -ms-transition: #{$result};
  -o-transition: #{$result};
  transition: #{$result};
}

@mixin transition_new($transition){
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;

}

@mixin animation($animation_options){
  -webkit-animation: $animation_options;
  -moz-animation: $animation_options;
  -ms-animation: $animation_options;
  -o-animation: $animation_options;
  animation: $animation_options;
}

@mixin transform($params){
  -webkit-transform: $params;
  -moz-transform: $params;
  -ms-transform: $params;
  -o-transform: $params;
  transform: $params;
}

@mixin transform-style($style){
  -webkit-transform-style: $style;
     -moz-transform-style: $style;
      -ms-transform-style: $style;
       -o-transform-style: $style;
        transform-style: $style;
}

@mixin transform-transition($speed: 2s,$animation: ease){
  -webkit-transition: -webkit-transform $speed $animation;
     -moz-transition: -moz-transform $speed $animation;
      -ms-transition: -ms-transform $speed $animation;
       -o-transition: -o-transform $speed $animation;
          transition: transform $speed $animation;
}

@mixin perspective($value){
  -webkit-perspective: $value;
     -moz-perspective: $value;
      -ms-perspective: $value;
       -o-perspective: $value;
          perspective: $value;
}

@mixin transformOrigin($a, $b){
  -webkit-transform-origin: $a $b;
  -moz-transform-origin: $a $b;
  -o-transform-origin: $a $b;
  transform-origin: $a $b;
}

@mixin transform-origin($a, $b){
  @include transformOrigin($a, $b); 
}

@mixin button{
  font: 16px/16px 'LTProSeemybolt';
  text-shadow: 1px 1px #fff;
  border: none;
  border-radius: 40px;
  cursor:pointer;
  padding-top: 8px;
  padding-bottom: 6px;
  border-width:1px;
  border-style: solid;
  border-color: transparent;
  @include boxShadow(1px 2px 3px rgba(0,0,0,0.3), 1px 1px  2px #fff inset);
  &:active{ @include boxShadow(0 0 3px rgba(0,0,0,0.3), 1px 1px  2px #fff inset); }
}

@mixin offer_button{
  color:#9b5e35 !important;
  border-color:#FEC212 !important;
  @include buttony-orange;
}

@mixin offer_button-hover{
  color: #bb7140 !important;
  border-color: #fed40e !important;
  @include buttony-orange-hover;
}

@mixin offer_button_expanded{
  color: #898989 !important;
  border-color:#aaa !important;
  @include buttony-gray;
}

@mixin offer_button_expanded-hover{
  color: #aeaeae !important;
  border-color: #d3d3d3 !important;
  @include buttony-gray-hover;
}

@mixin google_input{
  margin:1px;
  border: 1px solid #D9D9D9;
  display:inline-block;
  width:100%;
  box-sizing: border-box;
  position:relative;
  z-index:1000;
  padding:7px 10px 5px;
  @include transition(all 50ms ease);
  &:focus{ outline: none; border-color: #4D90FE !important; box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3) !important; }
  &:hover{ border: 1px solid #B9B9B9; border-top-color: #A0A0A0; box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); }
  &.error{ outline: none; border-color: #fe8387 !important; box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3) !important; }
}


@mixin google_input_small{
  @include google_input;
  $height: 11px;
  font: #{$height}/#{$height} $font_lt_pro;
  height: $height + 7px + 5px;
  &::-webkit-input-placeholder{ position:relative; top:1px; }
}

@mixin google_input_big{
  @include google_input;
  $height: 18px;
  font: #{$height}/#{$height} $font_lt_pro;
  height: $height + 7px + 5px;
  &::-webkit-input-placeholder{ position:relative; top:3px; }
}

@mixin google_input_extra{
  @include google_input;
  $height: 21px;
  font: #{$height}/#{$height} $font_lt_pro;
  height: $height + 7px + 5px;
  &::-webkit-input-placeholder{ position:relative; top:2px; }
}

@mixin bgz($sizes...){
  $background-size: false;
  
  @each $size in $sizes {
    @if $background-size == false {
      $background-size: "#{$size}"
    }@else{
      $background-size: "#{$background-size}, #{$size}"
    }
  }
  
  -webkit-background-size: #{$background-size};
     -moz-background-size: #{$background-size};
      -ms-background-size: #{$background-size};
          background-size: #{$background-size};
}

@mixin background_size($width, $height: false){
  @if($height == false){ $height: $width; }
  -webkit-background-size: $width $height !important;
     -moz-background-size: $width $height !important;
      -ms-background-size: $width $height !important;
          background-size: $width $height !important;
}

@mixin background($params, $image:false, $base_directory: "new/"){
  @if($image){
    background: image_url("#{$base_directory}#{$image}") #{$params};
  }@else{
    background: $params;
  }
}

@mixin retina($file, $type, $width, $height, $options:no-repeat, $path:"new/") {
  @include background($options, $file + '.' + $type, $path);

  @include hi-res{
    & { @include background($options, $file + '@2x.' + $type, $path); @include background_size($width, $height); }
  }


}

@mixin colorAnimation($color){
  @keyframes blink{ 50%{ background-color: $color; } }
  @-webkit-keyframes blink{ 50%{ background-color: $color; } }
  @-moz-keyframes blink{ 50%{ background-color: $color; } }
  @-o-keyframes blink{ 50%{ background-color: $color; } }
}

@mixin opacityAnimation($op){
  @-webkit-keyframes blinkOpacity{ 50%{ opacity: $op; } }
     @-moz-keyframes blinkOpacity{ 50%{ opacity: $op; } }
       @-o-keyframes blinkOpacity{ 50%{ opacity: $op; } }
          @keyframes blinkOpacity{ 50%{ opacity: $op; } }
}

@mixin blink($animation, $duration){
  -webkit-animation: $animation $duration linear infinite;
     -moz-animation: $animation $duration linear infinite;
     -o-animation: $animation $duration linear infinite;
}

@mixin clearfix{
  &:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
  }

  & { display: inline-block; }
  html[xmlns] &{ display: block; }
  * html &{ height: 1%; overflow: visible; }
}

@mixin after_block{
  position: relative;
  &:after{content: ""; display: block;}
}

@mixin before_block(){
  position: relative;
  &:before{content: ""; display: block;}
}

@mixin lt_sprite($position:left top, $back:transparent){
  @include retina("lt_sprite_new", "png", 643px, 300px, $back no-repeat);
  background-position: $position;
}

@mixin check_coupon{
  form{ position: relative; }

  .check_email{
    position: absolute;
    display: none;
    z-index: 100;
    width: 298px;
    top: 50px;

    .check_email_inner{
      position: relative;
      padding: 10px 20px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(206, 224, 134)), color-stop(100%, rgb(149, 163, 93)));
      border-radius: 5px;
      border: 1px solid rgb(135, 148, 83);
      box-shadow: 0 1px rgba(255, 255, 255, 0.35) inset;
      color: rgb(90, 99, 55);
      text-shadow: 1px 1px rgba(255, 255, 255, 0.54);
      text-transform: uppercase;
      font: 13px "Helvetica Neue L";
      text-align: center;
    }

    .check_email_inner:after{
      display: block;
      content: "";
      position: absolute;
      border: 10px rgb(135,148,83) solid;
      border-top: none;
      border-left-color: transparent;
      border-right-color: transparent;
      top: -10px;
      left: 140px;
    }
  }
}

@mixin smart-sprite($name, $image, $ext, $path, $width, $height, $fwidth, $fheight){
  $class_name   : "#{$name}-1";
  $cell_count   : $fwidth / $width;
  $row_count    : $fheight / $height;

  display: inline-block;
  width: $width;
  height: $height;
  @include retina($image, $ext, $fwidth, $fheight, no-repeat, $path);
  @include background_size($fwidth, $fheight);

  @for $i from 1 through 60{
    $cell_number  : ceil($i / $row_count) % $cell_count;
    $row_number   : $i % $row_count;
    @if($cell_number  == 0){ $cell_number: $cell_count; }
    @if($row_number   == 0){ $row_number: $row_count; }
    $left       : $width * ($cell_number - 1);
    $top      : $height * ($row_number - 1);
    $class_name   : "#{$name}-#{$i}";
    &.#{$class_name}{ background-position: (0 - $left) (0 - $top)  !important; }
  }
}

@mixin operator($o_width: 90px, $o_height: 23px){
  $f_width: $o_width * 5;
  $f_height: $o_height * 10;
  @include smart-sprite("operator", "operators-logos", "png", "", $o_width, $o_height, $f_width, $f_height);
}
  
@mixin airline($o_width: 60px, $o_height: 40px, $f_width: 360px, $f_height: 400px){
  @include smart-sprite("airline", "airlines-logos", "png", "", $o_width, $o_height, $f_width, $f_height);
}

@mixin border_box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin arrow{
  position: absolute;
  content: "";
  display: block;
  width: 0px;
  height: 0px;
}

@mixin arrow_up($size, $color: #000){
  border: $size solid $color;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  @include arrow;
}

@mixin arrow_right($size, $color: #000){
  border: $size solid $color;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  @include arrow;
}

@mixin arrow_down($size, $color: #000){
  border: $size solid $color;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  @include arrow;
}

@mixin arrow_left($size, $color: #000){
  border: $size solid $color;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  @include arrow;
}

@mixin box-sizing($b){
  -webkit-box-sizing: $b;
  -moz-box-sizing: $b;
  -ms-box-sizing: $b;
  -o-box-sizing: $b;
  box-sizing: $b;
}

$transparent_pixel: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);

// landing page
@mixin perforation{
  content: "";
  display: block;
  position: absolute;
  @include retina("perforation", "png", 21px, 15px, repeat-x, "landing/");
  left: 0;
}

@mixin perforation_top{
  position: relative;
  margin-top: 5px;
  &:before{
    @include perforation;
    background-position: right top !important;
    height: 5px;
    width: 100%;
    top: -5px;
  }
}

@mixin perforation_bottom{
  position: relative;
  margin-bottom: 10px;
  &:after{
    @include perforation;
    background-position: right bottom !important;
    height: 9px;
    width: 100%;
    bottom: -9px;
  }
}

@mixin perforation_both{
  @include perforation_top;
  @include perforation_bottom;
}

// Adds keyframes blocks for supported prefixes, removing redundant prefixes in the block's content
@mixin keyframes($name) {
  $original-prefix-for-webkit:    true;
  $original-prefix-for-mozilla:   true;
  $original-prefix-for-microsoft: true;
  $original-prefix-for-opera:     true;
  $original-prefix-for-spec:      true;

  @if $original-prefix-for-webkit {
    $prefix-for-webkit: true;
    @-webkit-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-for-mozilla {
    $prefix-for-mozilla: true;
    @-moz-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-for-opera {
    $prefix-for-opera: true;
    @-o-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-for-spec {
    $prefix-for-spec: true;
    @keyframes #{$name} {
      @content;
    }
  }
}

@mixin adjust_content($max_width, $min_width:false){
  /*
    This part of the code will adjust all content
    defined below to size between $max_width and
    $min_width
  */

  @if($min_width){
    @media only screen and (min-width: $min_width) and (max-width: $max_width){ @content; }
  }@else{
    @media only screen and (max-width: $max_width){ @content; }
  }
}

@mixin inline-block($va:top, $no_font:false){
  display: inline-block;
  vertical-align: $va;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  //display: inline-block;
  //vertical-align: $va;
}

@mixin column($count:2, $gap:20px){
  -webkit-column-count: $count;
     -moz-column-count: $count;
      -ms-column-count: $count;
       -o-column-count: $count;
          column-count: $count;

  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
      -ms-column-gap: $gap;
       -o-column-gap: $gap;
          column-gap: $gap;
}

@include keyframes(loading){
  0%{ background-position: 0px 0px; }
  100%{ background-position: 92px 0px; }
}

@include keyframes(loading-reverse){
  0%{ background-position: 0px 0px; }
  100%{ background-position: -92px 0px; }
}

@mixin fixed_top($default:false, $x1024:false, $x1280:false, $x1366:false){

  @if $default { position: absolute; top: $default; }

  @if $x1024 {
    @media only screen and (max-width: 999px){
      &{ top: $x1024; }
    }
  }

  @if $x1280 {
    @media only screen and (min-width: 999px) and (max-width: 1255px){
      &{ top: $x1280; }
    }
  }

  @if $x1366 {
    @media only screen and (min-width: 1256px) and (max-width: 1367px){
      &{ top: $x1366; }
    }
  }
}

@mixin fixed_bottom($default:false, $x1024:false, $x1280:false, $x1366:false){

  @if $default {
    &{ position: absolute; bottom: $default; }
  }

  @if $x1024 {
    @media only screen and (max-width: 999px){
      &{ bottom: $x1024; }
    }
  }

  @if $x1280 {
    @media only screen and (min-width: 999px) and (max-width: 1255px){
      &{ bottom: $x1280; }
    }
  }

  @if $x1366 {
    @media only screen and (min-width: 1256px) and (max-width: 1367px){
      &{ bottom: $x1366; }
    }
  }
}

@mixin placeholder{
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder      { @content; }
  &::-moz-placeholder       { @content; }
  &:-ms-input-placeholder     { @content; } 
}

@mixin cancel-button{
  &::-webkit-search-cancel-button { @content; }
  &:-moz-search-cancel-button   { @content; }
  &::-moz-search-cancel-button  { @content; }
  &:-ms-search-cancel-button    { @content; }
}

@mixin cover($options){
  background: $options;
  -webkit-background-size: cover;
  background-size: cover;
}

@mixin background_clip($value){
  -webkit-background-clip: $value;
  -moz-background-clip: $value;
  -ms-background-clip: $value;
  -o-background-clip: $value;
  background-clip: $value;
}

@mixin text_fill_color($value){
  -webkit-text-fill-color: $value;
  -moz-text-fill-color: $value;
  -ms-text-fill-color: $value;
  -o-text-fill-color: $value;
  text-fill-color: $value;
}

@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  display: box;
}

@mixin align-items($op){
  -webkit-align-items: $op;
          align-items: $op;
}

@mixin align-content($op){
  -webkit-align-content: $op;
          align-content: $op;
}

@mixin justify-content($op){
  -webkit-justify-content: $op;
          justify-content: $op;
}

@mixin justify-items($op){
  -webkit-justify-items: $op;
          justify-items: $op;
}

@mixin flex-direction($op){
  -webkit-flex-direction: $op;
          flex-direction: $op;
}

@mixin align-self($op){
  -webkit-align-self: $op;
          align-self: $op;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin square($size) {
 @include size($size, $size);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin animation-name($animation-name) {
 -webkit-animation-name: $animation-name;
    -moz-animation-name: $animation-name;
      -o-animation-name: $animation-name;
         animation-name: $animation-name;
}
@mixin animation-delay($animation-delay) {
 -webkit-animation-delay: $animation-delay;
    -moz-animation-delay: $animation-delay;
      -o-animation-delay: $animation-delay;
         animation-delay: $animation-delay;
}
@mixin animation-direction($animation-direction) {
 -webkit-animation-direction: $animation-direction;
    -moz-animation-direction: $animation-direction;
      -o-animation-direction: $animation-direction;
         animation-direction: $animation-direction;
}
@mixin animation-duration($animation-duration) {
 -webkit-animation-duration: $animation-duration;
    -moz-animation-duration: $animation-duration;
      -o-animation-duration: $animation-duration;
         animation-duration: $animation-duration;
}
@mixin animation-fill-mode($animation-fill-mode) {
 -webkit-animation-fill-mode: $animation-fill-mode;
    -moz-animation-fill-mode: $animation-fill-mode;
      -o-animation-fill-mode: $animation-fill-mode;
         animation-fill-mode: $animation-fill-mode;
}
@mixin animation-iteration-count($animation-iteration-count) {
 -webkit-animation-iteration-count: $animation-iteration-count;
    -moz-animation-iteration-count: $animation-iteration-count;
      -o-animation-iteration-count: $animation-iteration-count;
         animation-iteration-count: $animation-iteration-count;
}
@mixin animation-play-state($animation-play-state) {
 -webkit-animation-play-state: $animation-play-state;
    -moz-animation-play-state: $animation-play-state;
      -o-animation-play-state: $animation-play-state;
         animation-play-state: $animation-play-state;
}
@mixin animation-timing-function($animation-timing-function) {
 -webkit-animation-timing-function: $animation-timing-function;
    -moz-animation-timing-function: $animation-timing-function;
      -o-animation-timing-function: $animation-timing-function;
         animation-timing-function: $animation-timing-function;
}

$top-default:    null !default;
$right-default:  null !default;
$bottom-default: null !default;
$left-default:   null !default;

@mixin position($type, $top: $top-default, $right: $right-default, $bottom: $bottom-default, $left: $left-default) {
  position: $type;

  $allowed_types: 'absolute' 'relative' 'fixed';
  @if not index($allowed_types, $type) {
    @warn "Unknow position: #{$type}.";
  }
  @each $data in top $top, right $right, bottom $bottom, left $left {
    #{nth($data, 1)}: nth($data, 2);
  }
}
@mixin absolute($top: $top-default, $right: $right-default, $bottom: $bottom-default, $left: $left-default) {
  @include position(absolute, $top, $right, $bottom, $left);
}
@mixin relative($top: $top-default, $right: $right-default, $bottom: $bottom-default, $left: $left-default) {
  @include position(relative, $top, $right, $bottom, $left);
}
@mixin fixed($top: $top-default, $right: $right-default, $bottom: $bottom-default, $left: $left-default) {
  @include position(fixed, $top, $right, $bottom, $left);
}

// --------------------------------------------------
// TRANSFORMATIONS
// --------------------------------------------------
@mixin transform($transform...) {
 -webkit-transform: $transform;
    -moz-transform: $transform;
     -ms-transform: $transform;
      -o-transform: $transform;
         transform: $transform;
}
@mixin transform-origin($transform-origin...) {
 -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
     -ms-transform-origin: $transform-origin;
      -o-transform-origin: $transform-origin;
         transform-origin: $transform-origin;
}
@mixin transform-style($transform-style) {
 -webkit-transform-style: $transform-style;
    -moz-transform-style: $transform-style;
     -ms-transform-style: $transform-style;
      -o-transform-style: $transform-style;
         transform-style: $transform-style;
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
     -moz-transform: rotate($deg);
      -ms-transform: rotate($deg);
       -o-transform: rotate($deg);
          transform: rotate($deg);
}
@mixin rotateX($deg) {
  -webkit-transform: rotateX($deg);
     -moz-transform: rotateX($deg);
      -ms-transform: rotateX($deg);
       -o-transform: rotateX($deg);
          transform: rotateX($deg);
}
@mixin rotateY($deg) {
  -webkit-transform: rotateY($deg);
     -moz-transform: rotateY($deg);
      -ms-transform: rotateY($deg);
       -o-transform: rotateY($deg);
          transform: rotateY($deg);
}
@mixin rotateZ($deg) {
  -webkit-transform: rotateZ($deg);
     -moz-transform: rotateZ($deg);
      -ms-transform: rotateZ($deg);
       -o-transform: rotateZ($deg);
          transform: rotateZ($deg);
}
@mixin rotate3d($rotate3d...) {
  -webkit-transform: rotate3d($rotate3d);
     -moz-transform: rotate3d($rotate3d);
      -ms-transform: rotate3d($rotate3d);
       -o-transform: rotate3d($rotate3d);
          transform: rotate3d($rotate3d);
}
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
     -moz-transform: scale($ratio);
      -ms-transform: scale($ratio);
       -o-transform: scale($ratio);
          transform: scale($ratio);
}
@mixin scaleX($ratio) {
  -webkit-transform: scaleX($ratio);
     -moz-transform: scaleX($ratio);
      -ms-transform: scaleX($ratio);
       -o-transform: scaleX($ratio);
          transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
  -webkit-transform: scaleY($ratio);
     -moz-transform: scaleY($ratio);
      -ms-transform: scaleY($ratio);
       -o-transform: scaleY($ratio);
          transform: scaleY($ratio);
}
@mixin scaleZ($ratio) {
  -webkit-transform: scaleZ($ratio);
     -moz-transform: scaleZ($ratio);
      -ms-transform: scaleZ($ratio);
       -o-transform: scaleZ($ratio);
          transform: scaleZ($ratio);
}
@mixin scale3d($x, $y, $z) {
  -webkit-transform: scale3d($x, $y, $z);
     -moz-transform: scale3d($x, $y, $z);
      -ms-transform: scale3d($x, $y, $z);
       -o-transform: scale3d($x, $y, $z);
          transform: scale3d($x, $y, $z);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y);
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
  -webkit-backface-visibility: hidden;
}
@mixin skewX($deg) {
  -webkit-transform: skewX($deg);
     -moz-transform: skewX($deg);
      -ms-transform: skewX($deg);
       -o-transform: skewX($deg);
          transform: skewX($deg);
  -webkit-backface-visibility: hidden;
}
@mixin skewY($deg) {
  -webkit-transform: skewY($deg);
     -moz-transform: skewY($deg);
      -ms-transform: skewY($deg);
       -o-transform: skewY($deg);
          transform: skewY($deg);
  -webkit-backface-visibility: hidden;
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
     -moz-transform: translate($x, $y);
      -ms-transform: translate($x, $y);
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin translateX($x) {
  -webkit-transform: translateX($x);
     -moz-transform: translateX($x);
      -ms-transform: translateX($x);
       -o-transform: translateX($x);
          transform: translateX($x);
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
     -moz-transform: translateY($y);
      -ms-transform: translateY($y);
       -o-transform: translateY($y);
          transform: translateY($y);
}
@mixin translateZ($z) {
  -webkit-transform: translateZ($z);
     -moz-transform: translateZ($z);
      -ms-transform: translateZ($z);
       -o-transform: translateZ($z);
          transform: translateZ($z);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin backface-visibility($v){
  -webkit-backface-visibility: $v;
          backface-visibility: $v;
}

@mixin font-reset{
  font: 0/0 'Invisible';
}
