<div class="container">
  <div class="row">
    <div class="hidden-xs col-md-9">
      <div class="footer_nav">
        <% Category.all.each do |category| %>
          <%= link_to category.title, category_path(category.url_name), { :class=>"footer_nav_item" } %>
        <% end %>
      </div>
    </div>

    <div class="hidden-sm col-md-3">
      <div class="row footersocialmenu">
        <!-- 2013–2015 © Hevix.ru -->
      </div>
    </div>
  </div>

      

  <div id="copy" class="clearfix">
    
  </div>
  <!-- <div id="scroll-up"><a href="#top" title="top"><img src="http://hevix.ru/wp-content/themes/multipro/resources/images/scroll.png" alt="scroll up"></a></div>ååå -->
</div>
